<div class='generic-label'>Generic Global</div>
<!--
<template name="Generic_Cover">
  Generic Cover
</template>
<template name="Generic_Menubar">
  Generic Menubar
  <div class="global-columns global-three-columns">
    <div class="global-left-column">Left</div>
    <div class="global-center-column">{{> Generic_Menubar_Tabs}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Generic_Body">
  Generic Body
  <div class="global-columns global-three-columns">
    <div class="global-left-column">{{>Generic_Sidebar_Links}}</div>
    <div class="global-center-column">{{>Generic_Content}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Generic_Footer">
  Generic Footer
  <div class="global-footer-links">
    {{>Generic_Sidebar_Links}}
  </div>
</template>
-->
