<template name='delegateVoteList'>
	<center><p class="proposal-info">{{_ "pages.proposals.view.delegatesVoteHeading"}}</p></center>
	<div class="mdl-grid delegate-vote-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
			{{#if delegatesFor}}
				<ul class="mdl-list" >
					{{#each delegatesFor}}
					{{> delegateVoteListItem}}
					{{/each}}
				</ul>
			{{else}}
				<center><h6><small>{{_ "pages.proposals.view.noDelegatesFor"}}</small></h6></center>
			{{/if}}
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
			{{#if delegatesAbstain}}
				<ul class="mdl-list" >
					{{#each delegatesAbstain}}
					{{> delegateVoteListItem}}
					{{/each}}
				</ul>
			{{else}}
				<center><h6><small>{{_ "pages.proposals.view.noDelegatesAbstain"}}</small></h6></center>
			{{/if}}
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
			{{#if delegatesAgainst}}
				<ul class="mdl-list" >
					{{#each delegatesAgainst}}
					{{> delegateVoteListItem}}
					{{/each}}
				</ul>
			{{else}}
				<center><h6><small>{{_ "pages.proposals.view.noDelegatesAgainst"}}</small></h6></center>
			{{/if}}
		</div>
	</div>


</template>

<!--============ Single delegate item ============-->

<template name="delegateVoteListItem">
	<li class="selected mdl-list__item delegate-vote-list-item" id="{{_id}}">
		<div class="card-main-wrap">
			<span class="card-main mdl-list__item-primary-content">
				<i class="material-icons">{{voteIcon vote_info.[0].vote}}</i> &nbsp;
				<img src={{user_info.[0].profile.photo}} class="mdl-list__item-avatar">
				#{{ranking}}&nbsp; {{user_info.[0].profile.firstName}}&nbsp;{{user_info.[0].profile.lastName}} ({{user_info.[0].profile.username}})
			</span>
		</div>
	</li>
	<div class="mdl-tooltip" for="{{_id}}">
		{{#if vote_info.[0].reason}}
			{{vote_info.[0].reason}}
		{{else}}
			{{_ "pages.proposals.view.noDelegateReason"}}
		{{/if}}
	</div>
</template>
