<template name='delegateVoteList'>
	<center><p class="proposal-info">{{_ "pages.proposals.view.delegatesVoteHeading"}}</p></center>
	<div class="mdl-grid delegate-vote-grid">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
			{{#if delegateVote "yes"}}
				<ul class="mdl-list delegate-vote-list delegate-vote-list-for" >
					{{#each delegateVote "yes"}}
						{{> delegateVoteListItem}}
					{{/each}}
				</ul>
			{{else}}
				<center><h6><small>{{_ "pages.proposals.view.noDelegatesFor"}}</small></h6></center>
			{{/if}}
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
			{{#if delegateVote "abstain"}}
				<ul class="mdl-list delegate-vote-list delegate-vote-list-abstain" >
					{{#each delegateVote "abstain"}}
					{{> delegateVoteListItem}}
					{{/each}}
				</ul>
			{{else}}
				<center><h6><small>{{_ "pages.proposals.view.noDelegatesAbstain"}}</small></h6></center>
			{{/if}}
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
			{{#if delegateVote "no"}}
				<ul class="mdl-list delegate-vote-list delegate-vote-list-against" >
					{{#each delegateVote "no"}}
					{{> delegateVoteListItem}}
					{{/each}}
				</ul>
			{{else}}
				<center><h6><small>{{_ "pages.proposals.view.noDelegatesAgainst"}}</small></h6></center>
			{{/if}}
		</div>
	</div>


</template>

<!--============ Single delegate item ============-->
<template name="delegateVoteListItem">
	<li class="{{highestRank delegateId}} mdl-list__item delegate-vote-list-item" id="{{_id}}">
		<div class="card-delegate-list-wrap">
			<span class="card-delegate-list mdl-list__item-primary-content">
				<img src={{userPhoto delegateId}} class="mdl-list__item-avatar">
				<span class="delegate-name">{{getRanking delegateId}}&nbsp;<strong>{{userFullname delegateId}}</strong><br>({{userProfilename delegateId}})</span>
			</span>
		</div>
	</li>
	<div class="mdl-tooltip" for="{{_id}}">
		{{#if reason}}
			{{reason}}
		{{else}}
			{{_ "pages.proposals.view.noDelegateReason"}}
		{{/if}}
	</div>
</template>
