<template name="Header">

	<!-- Always shows a header, even in smaller screens. -->
	<header class="mdl-layout__header new-app-header mdl-layout--no-drawer-button">
		<div class="header-inner mdl-layout__header-row">
			<a href="/navigator" class="header-link-signed-in crowdpol-logo" style="font-color: transparent;" >
				<span class="mdl-layout-title">Crowdpol</span>
			</a>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			{{#if Template.subscriptionsReady}}
				{{#if currentUser}}
					<!-- OLD Tag Search Field
					<form action="#" id="header-tag-search-form" >
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text" id="header-tag-search" placeholder="{{_ 'layout.header.search_tags'}}">
						</div>
						<label class="mdl-button mdl-js-button mdl-button-/-icon" for="header-tag-search" id="search-button">
					      <i class="material-icons">search</i>
					    </label>
						{{#if matchedTags}}
						<ul class="demo-list-item mdl-list autocomplete-list" id="headerMatchedTagsList">
							{{#each matchedTags}}
							<li class="mdl-list__item autocomplete-item" data-keyword={{this}}>
								<span class="mdl-list__item-primary-content" data-keyword={{this}}>
									{{this}}
								</span>
							</li>
							{{/each}}
						</ul>
						{{/if}}
					</form>
					-->
					<div class="search-bar-wrapper">
						<input type="search" placeholder="Search the global village" class="search-bar">
					</div>
					<div class="header-divider menu-item"></div>
					<!-- Navigation. We hide it in small screens. -->
					<nav class="mdl-navigation" id="main-menu">
						<!-- Profile Menu -->
						<div id="profile-dropdown" class="nav-dropdown menu-item">
					    <button class="dropbtn">
								{{#if isDelegate}}{{currentUserRoleText}}{{/if}}
								<img src="{{userPhoto}}" class="profile-avatar">
					      <i class="fa fa-angle-down"></i>
					    </button>
					    <div class="dropdown-content">
								{{#if isDelegate}}
							    {{#if usingAsDelegate}}
							    	<a class="change-role" href="#" data-role="{{otherRole}}">{{otherRoleText}}</a>
							    {{else}}
							      <a class="change-role" href="#" data-role="delegate">{{_ "layout.header.nav_use_delegate"}}</a>
							    {{/if}}
							  {{/if}}
								<a href="/presence">{{_ "layout.header.nav_presence"}}</a>
					      <a href="/profile">{{_ "layout.header.nav_profile_settings"}}</a>
					      <a href="/settings">{{_ "layout.header.nav_account_settings"}}</a>
								{{#if currentUser}}
						      <a href="" id="nav-logout">{{_ "layout.drawer.nav_logout"}}</a>
						    {{/if}}
					    </div>
					  </div>

						<!-- Notification Menu -->
						<div id="notifications-dropdown" class="nav-dropdown menu-item">
					    <button class="dropbtn">
								<i class="material-icons-outlined">notifications</i>
								<i class="fa fa-angle-down"></i>
					    </button>
					    <div class="dropdown-content">
								{{> NotificationsDrawer}}
					    </div>
					  </div>

						<!-- Help Menu -->
						<!--
							<a id="help-menu" class="mdl-navigation__link mdl-layout- -large-screen-only" href="/"><i class="material-icons" id="main-help">help_outline</i></a>
						-->
						<!-- Language Menu -->
						{{#if showLanguages}}
							<div id="language-dropdown" class="nav-dropdown menu-item">
							    <button class="dropbtn">
										<i class="material-icons">language</i>
										{{getLang lang}}
										<i class="fa fa-angle-down"></i>
							    </button>
							    <div class="dropdown-content">
										{{#each langs}}
							      	<a href="" id="{{this}}" class="lang-sel">{{getLang this}}</a>
								    {{/each}}
							    </div>
							</div>
						{{/if}}
					</nav>
					<nav class="mdl-navigation" id="responsive-menu">
						<div id="menu-dropdown" class="nav-dropdown menu-item">
							<button class="header-hamburger dropbtn">
								<div class="icons">
									<i class="material-icons icon-default">menu</i>
									<i class="material-icons icon-hover">close</i>
								</div>
							</button>
							<div class="dropdown-content responsive-menu">
								<div class="search-bar-wrapper">
									<input type="search" placeholder="Search the global village" class="search-bar">
								</div>
								<a href="/presence"><img src="{{userPhoto}}" class="profile-avatar">Presence</a>
								<a href="/settings">Settings</a>
								<a href="/notifications"><i class="material-icons-outlined">notifications</i>Notifications</a>
							</div>
						</div>
					</nav>
				{{else}}
					<nav class="mdl-navigation" id="logged-out-nav">
						<a class="mdl-navigation__link" href="/">{{_ "layout.header.nav_home"}}</a>
						{{#unless currentUser}}
							<a class="mdl-navigation__link" href="/login">{{_ "layout.header.nav_login"}}</a>
						{{/unless}}
					</nav>
				{{/if}}
			{{/if}}
		</div>
	</header>

</template>

<template name="HomeHeader">
	<!-- Always shows a header, even in smaller screens. -->
	<header class="logged-out-header mdl-layout__header">
		<div class="header-inner mdl-layout__header-row">
			<a href="/">
				<i class="material-icons">add</i>
				<h5>{{_ "layout.header.home_title"}}</h5>
			</a>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/about">{{_ "layout.header.nav_about"}}</a>
					<a class="mdl-navigation__link" href="/contact">{{_ "layout.header.nav_contact"}}</a>
					{{#unless currentUser}}
						<a class="mdl-navigation__link" href="/login">{{_ "layout.header.nav_login"}}</a>
					{{/unless}}
				</nav>
		</div>
	</header>
</template>
