<template name="Presence_Menubar">
  <div class="global-columns global-two-columns">
    <div class="global-left-column">
      <div class="community-map"></div>
      <div class="presence-profile-image">
        {{>Hexagram currentUserId}}
      </div>
    </div>
    <div class="global-center-column">
      <div class="navigator-breadcrumbs">
        {{>CommunityBreadcrumb}}<span class="community-breadcrumb">/{{profileUsername}}</span>
      </div>
      <div class="presence-menu-bar">
        <div class="presence-menu-username">
          <h4 class="global-menubar-title">{{profileName}}</h4>
          <div class="presence-delegate-button">Make Me Your Delegate</div>
        </div>
        <div class="presence-menu">
          {{>Presence_Menubar_Tabs}}
        </div>
      </div>
    </div>
    <div class="global-right-column">
      Right
    </div>
  </div>
</template>
