<template name="Footer">
  <footer class="bottom-nav mdl-mini-footer mdl-layout--small-screen-only">
    <!-- Footer Content -->
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" data-id="vote">
      <i class="material-icons">how_to_vote</i><br>
      {{_ "layout.footer.vote"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" data-id="proposals">
      <i class="material-icons">edit</i><br>
      {{_ "layout.footer.propose"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" data-id="delegates">
      <i class="material-icons">playlist_add_check</i><br>
      {{_ "layout.footer.delegate"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" data-id="feed">
      <i class="material-icons">dynamic_feed</i><br>
      {{_ "layout.footer.feed"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" data-id="groups">
      <i class="material-icons">group</i><br>
      {{_ "layout.footer.group"}}
    </a>


  </footer>
  <div class="mdl-layout__obfuscator"></div>
</template>
