<template name="Footer">
  <footer class="bottom-nav mdl-mini-footer mdl-layout--small-screen-only">
    <!-- Footer Content -->
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/proposals">
      <i class="material-icons">lightbulb_outline</i>
      {{_ "layout.footer.propose"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/delegate">
      <i class="material-icons">face</i>
      {{_ "layout.footer.delegate"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/voting">
      <i class="material-icons">check</i>
      {{_ "layout.footer.vote"}}
    </a>
  </footer>
  <div class="mdl-layout__obfuscator"></div>
</template>
