<template name="Footer">
  <footer class="bottom-nav mdl-mini-footer mdl-layout--small-screen-only">
    <!-- Footer Content -->
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/voting">
      <i class="material-icons">how_to_vote</i>
      {{_ "layout.footer.vote"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/proposals">
      <i class="material-icons">edit</i>
      {{_ "layout.footer.propose"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/delegate">
      <i class="material-icons">playlist_add_check</i>
      {{_ "layout.footer.delegate"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/delegate">
      <i class="material-icons">dynamic_feed</i>
      {{_ "layout.footer.feed"}}
    </a>
    <a class="bottom-nav-link mdl-button mdl-js-button mdl-js-ripple-effect" href="/delegate">
      <i class="material-icons">group</i>
      {{_ "layout.footer.group"}}
    </a>


  </footer>
  <div class="mdl-layout__obfuscator"></div>
</template>
