<!--<div class='proposal-label'>Proposal Global</div>-->
<template name="Proposal_Cover">
  {{>Cover}}
</template>
<template name="Proposal_Menubar">
  <div class="global-columns global-three-columns">
    <div class="global-left-column"></div>
    <div class="global-center-column">Proposal Title</div>
    <div class="global-right-column"></div>
  </div>
</template>
<template name="Proposal_Body">
  Proposal Body
  <div class="global-columns global-three-columns">
    <div class="global-left-column">Proposal Stats</div>
    <div class="global-center-column">Proposal_Content</div>
    <div class="global-right-column">Changemakers that support this</div>
  </div>
</template>
<template name="Proposal_Footer">
  Proposal Footer
  <div class="global-footer-links">
    <!--{{>Proposal_Sidebar_Links}}-->
    Put links in here if need be
  </div>
</template>
