<div class='profile-label'>Profile Global</div>
<!--
<template name="Profile_Cover">
  Profile Cover
</template>
<template name="Profile_Menubar">
  Profile Menubar
  <div class="global-columns global-three-columns">
    <div class="global-left-column">Left</div>
    <div class="global-center-column">{{> Profile_Menubar_Tabs}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Profile_Body">
  Profile Body
  <div class="global-columns global-three-columns">
    <div class="global-left-column">{{>Profile_Sidebar_Links}}</div>
    <div class="global-center-column">{{>Profile_Content}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Profile_Footer">
  Profile Footer
  <div class="global-footer-links">
    {{>Profile_Sidebar_Links}}
  </div>
</template>
-->
