.test-container {
  width: 1000px;
  position: relative;
}

.test-header {
  clear: both;
  margin-bottom: 10px;
  border: 1px solid #000000;
  height: 90px;
}

.test-sidebar {
  float: left;
  width: 350px;
  border: 1px solid #000000;
}

.test-content {
  float: right;
  width: 640px;
  border: 1px solid #000000;
  height: 800px;
}

.test-footer {
  clear: both;
  margin-top: 10px;
  border: 1px solid #000000;
  height: 820px;
}
