.bar-container{
	min-width: 150px;
	width: 100%;
	overflow: hidden;
}
.bar-properties{
	position: relative; 
	float:left;
	color: white;
	text-align: center;
	padding: 5px 0 5px 0;
}
.yes-bar{
	background-color:#83b9cf;

}
.no-bar{
	background-color:#ccc;
}
.hidden{
	display:none;
}

.proposal-author{
	padding: 0px;
}

.proposal-container{
	padding: 0px;
}
#inputPointFor, #inputPointAgainst {
	    max-height: 83px;
}