
<!--
<template name="Admin_Cover">
  Admin Cover
</template>
<template name="Admin_Menubar">
  Admin Menubar
  <div class="global-columns global-three-columns">
    <div class="global-left-column">Left</div>
    <div class="global-center-column">{{> Admin_Menubar_Tabs}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Admin_Body">
  Admin Body
  <div class="global-columns global-three-columns">
    <div class="global-left-column">{{>Admin_Sidebar_Links}}</div>
    <div class="global-center-column">{{>Admin_Content}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Admin_Footer">
  Admin Footer
  <div class="global-footer-links">
    {{>Admin_Sidebar_Links}}
  </div>
</template>
-->
