<template name="Drawer">
	<div class="side-nav mdl-layout__drawer">
		<!-- Drawer Content -->
		{{#if currentUser}}
			<div class="side-nav-header">
				<a href="/profile" class="profile-link">
					<img src="{{currentUser.profile.photo}}">
					{{#if currentUser.profile.firstname}}
						<h6>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</h6>
					{{else}}
						<h6>{{currentUser.profile.username}}</h6>
					{{/if}}
				</a>
			</div>
		{{/if}}
		<nav class="side-nav-link-wrap mdl-navigation">
			{{#if currentUser}}
				{{#if isInRole 'admin, superadmin'}}
					<a class="side-nav-link mdl-navigation__link" href="/admin/dash">{{_ "layout.drawer.nav_admin_dash"}}</a>
				{{/if}}
				<a class="side-nav-link mdl-navigation__link" href="/profile">{{_ "layout.drawer.nav_profile"}}
					{{#if currentUser.isPublic}}
						<span class="mdl-chip" id="public-profile-chip">
						    <span class="mdl-chip__text">{{_ "pages.profile.public"}}</span>
						</span>
					{{/if}}
				</a>
				<a class="side-nav-link mdl-navigation__link" href="/contact">{{_ "layout.drawer.nav_contact"}}</a>
				<!-- We don't have the real content yet - hiding for now
					<a class="side-nav-link mdl-navigation__link" href="/privacy">{{_ "drawer_nav_privacy"}}</a>
				<a class="side-nav-link mdl-navigation__link" href="/terms">{{_ "drawer_nav_terms"}}</a> -->
			{{else}}
				<a class="side-nav-link mdl-navigation__link" href="/about">{{_ "layout.header.nav_about"}}</a>
				<a class="side-nav-link mdl-navigation__link" href="/contact">{{_ "layout.header.nav_contact"}}</a>
			{{/if}}
    </nav>
    <div class="mdl-layout-spacer"></div>
    <nav class="side-nav-link-wrap mdl-navigation">
			{{#if currentUser}}
				<a class="side-nav-link mdl-navigation__link" href="" id="drawer-nav-logout">{{_ "layout.drawer.nav_logout"}}</a>
			{{else}}
				<a class="side-nav-link mdl-navigation__link" href="/login">{{_ "layout.drawer.nav_login"}}</a>
			{{/if}}
    </nav>
	</div>
</template>

<template name="RightDrawer">
	<div class="right-drawer mdl-layout__drawer-right">
		<div class="right-drawer-header mdl-shadow--2dp">
			<img src="{{user.profile.photo}}" class="profile-picture">
			<h4>{{user.profile.firstName}} {{user.profile.lastName}}</h4>
			<h6>{{user.profile.type}}</h6>
		</div>
		<div class="right-drawer-content">
			<div class="user-tags-wrap">
				{{#each user.profile.tags}}
					<span class="mdl-chip">
						<span class="mdl-chip__text">{{this.keyword}}</span>
					</span>
				{{/each}}
			</div>
			<br>
			<h6>{{_ "layout.drawer.right_about"}}</h6>
			<p>{{user.profile.bio}}</p>
			<br>
			<h6>Website</h6>
			<a href="{{user.profile.website}}">{{user.profile.website}}</a>
		</div>
	</div>
</template>
