<template name="Drawer">
	<div class="side-nav mdl-layout__drawer">
		<!-- Drawer Content -->
		{{#if currentUser}}
			<div class="side-nav-header">
				<a href="/profile" class="profile-link">
					<img src="{{currentUser.profile.photo}}">
					{{#if currentUser.profile.firstname}}
						<h6>{{currentUser.profile.firstname}} {{currentUser.profile.lastname}}</h6>
					{{else}}
						<h6>{{currentUser.profile.username}}</h6>
					{{/if}}
				</a>
			</div>
		{{/if}}
		<nav class="side-nav-link-wrap mdl-navigation">

			{{#if currentUser}}
				{{#if isInRole 'admin, superadmin, community-admin'}}
					<a class="side-nav-link mdl-navigation__link" href="/admin/dash">{{_ "layout.drawer.nav_admin_dash"}}</a>
				{{/if}}
				{{#if isDelegate}}
					{{#if usingAsDelegate}}
						<a class="side-nav-link mdl-navigation__link  mdl-layout--small-screen-only change-role" data-role="{{otherRole}}">{{otherRoleText}}</a>
					{{else}}
						<a class="side-nav-link mdl-navigation__link  mdl-layout--small-screen-only change-role" data-role="delegate">{{_ "layout.header.nav_use_delegate"}}</a>
					{{/if}}
				{{/if}}
				<a class="side-nav-link mdl-navigation__link  mdl-layout--small-screen-only" href="/feed">{{_ "layout.drawer.nav_feed"}}</a>
				<a class="side-nav-link mdl-navigation__link" href="/profile">{{_ "layout.drawer.nav_profile"}}
					{{#if currentUser.isPublic}}
						<span class="mdl-chip" id="public-profile-chip">
						    <span class="mdl-chip__text">{{_ "pages.profile.public"}}</span>
						</span>
					{{/if}}
				</a>
				<a class="side-nav-link mdl-navigation__link" href="/settings">{{_ "layout.header.nav_account_settings"}}</a>
				<!-- We don't have the real content yet - hiding for now
					<a class="side-nav-link mdl-navigation__link" href="/privacy">{{_ "drawer_nav_privacy"}}</a>
				<a class="side-nav-link mdl-navigation__link" href="/terms">{{_ "drawer_nav_terms"}}</a> -->
			{{/if}}

    </nav>
    <div class="mdl-layout-spacer"></div>
    <nav class="side-nav-link-wrap mdl-navigation">
			<a class="side-nav-link mdl-navigation__link  mdl-layout--small-screen-only" href="/about">{{_ "layout.header.nav_about"}}</a>
			<a class="side-nav-link mdl-navigation__link  mdl-layout--small-screen-only" href="/faq">{{_ "layout.header.nav_faq"}}</a>
			<a class="side-nav-link mdl-navigation__link  mdl-layout--small-screen-only" href="/contact">{{_ "layout.header.nav_contact"}}</a>
			{{#if currentUser}}
				<a class="side-nav-link mdl-navigation__link" href="" id="drawer-nav-logout">{{_ "layout.drawer.nav_logout"}}</a>
			{{else}}
				<a class="side-nav-link mdl-navigation__link" href="/login">{{_ "layout.drawer.nav_login"}}</a>
			{{/if}}
    </nav>
	</div>
</template>

<template name="RightDrawer">
	<div class="right-drawer mdl-layout__drawer-right">
		<div class="right-drawer-header mdl-shadow--2dp">
			<a href="/feed/{{user._id}}" id="right-drawer-profile-link"><img src="{{user.profile.photo}}" class="profile-picture mdl-list__item-avatar"></a>
			<h4>{{user.profile.firstName}} {{user.profile.lastName}}</h4>
			<h6>{{user.profile.type}}</h6>
		</div>
		<div class="right-drawer-content">
			<div class="user-tags-wrap">
				{{#each user.profile.tags}}
					<span class="tag tag-chip">{{this.keyword}}</span>
				{{/each}}
			</div>
			{{#if user.profile.bio}}
			<br>
			<h6>{{_ "layout.drawer.right_about"}}</h6>
			<p>{{user.profile.bio}}</p>
			{{/if}}
			{{#if user.profile.website}}
			<br>
			<h6>{{_ "layout.drawer.website"}}</h6>
			<a href="{{user.profile.website}}">{{user.profile.website}}</a>
			{{/if}}
			<br>
			<!-- Recent Votes -->
			{{#if delegateVotes}}
			<br/>
			<h6>{{_ "layout.drawer.recent-votes"}}</h6>

				<ul class=" mdl-list">
				{{#each delegateVotes}}
					<li class="mdl-list__item">
				 		<div class="card-main-wrap">
							<span class="card-main mdl-list__item-primary-content recent-vote">
								<i class="material-icons">{{voteIcon vote}}</i>
								<a href="/proposals/view/{{proposalId}}"> {{proposalTitle proposalId}} </a>
							</span>
				 		</div>
					</li>
				{{/each}}
				</ul>
			{{else}}
				{{_"layout.drawer.no-votes"}}
			{{/if}}
		</div>
	</div>
</template>
