<template name="Arguments">
  <div class="argument-container">
    <div class="for-container">
      <div class="input-wrap mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  			<textarea class="mdl-textfield__input" type="text" rows= "3" id="argument-for-message" ></textarea>
  			<label class="mdl-textfield__label">{{_ "pages.proposals.view.pointsFor"}}</label>
  		</div>
    </div>
    <div class="against-container">
      <div class="input-wrap mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  			<textarea class="mdl-textfield__input" type="text" rows= "3" id="argument-against-message" ></textarea>
  			<label class="mdl-textfield__label">{{_ "pages.proposals.view.pointsAgainst"}}</label>
  		</div>
    </div>
  </div>
</template>
