
<!--
<template name="Search_Cover">
  Search Cover
</template>
<template name="Search_Menubar">
  Search Menubar
  <div class="global-columns global-three-columns">
    <div class="global-left-column">Left</div>
    <div class="global-center-column">SearchMenubar</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Search_Body">
  Search Body
  <div class="global-columns global-three-columns">
    <div class="global-left-column">{{>Search_Sidebar}}</div>
    <div class="global-center-column">{{>Search_Content}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Search_Footer">
  Search Footer
  {{>Search_Sidebar}}
</template>
-->
