<template name="Navigator_Body">
  <div class="global-columns global-three-columns">
    <div class="global-left-column global-sidebar-menu">
      {{>Navigator_Sidebar_Links}}
    </div>
    <div class="global-center-column ">
      <div class="global-content-loader" style="display: none;">
        {{> loader}}
      </div>
      <div class="global-content-dynamic">
        <!--{{>UnderConstruction}}-->
        {{> Template.dynamic template=globalContent}}
      </div>
    </div>
    <div class="global-right-column right-sidebar">
      {{>Navigator_Sub_Communities}}
    </div>
  </div>
</template>
