Navigator Global
<!--
<template name="Navigator_Cover">
  Navigator Cover
</template>
<template name="Navigator_Menubar">
  Navigator Menubar
  <div class="global-columns global-three-columns">
    <div class="global-left-column">Left</div>
    <div class="global-center-column">NavigatorMenubar</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Navigator_Body">
  Navigator Body
  <div class="global-columns global-three-columns">
    <div class="global-left-column">{{>Navigator_Sidebar}}</div>
    <div class="global-center-column">{{>Navigator_Content}}</div>
    <div class="global-right-column">Right</div>
  </div>
</template>
<template name="Navigator_Footer">
  Navigator Footer
  {{>Navigator_Sidebar}}
</template>
-->
