<template name="App_body">
	<div class="site mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!--{{#if showDrawer}}-->
			<!-- imports/ui/components/layout/header/header.html -->
			{{> Header}}
			<!-- imports/ui/components/layout/drawer/drawer.html -->

			{{> Drawer}}

			{{> RightDrawer}}
       <!--
    {{else}}
    	{{> HomeHeader}}
    {{/if}}-->
    <main class="mdl-layout__content">
			<div class="page-content">
			   <div class="ribbon"><span>BETA</span></div>
				<!-- Your content goes here -->
				{{> Template.dynamic template=main}}
			</div>
		</main>
		<div class="mdl-layout__obfuscator-right"></div>
		<!-- imports/ui/components/layout/footer/footer.html -->
		{{#if currentUser}}
			{{> Footer}}
		{{/if}}
	</div>
</template>

