@import 'variables.scss';

.auth-wrap {
  max-width: 25rem;

  .form-group {
    margin: 0 0 $space;
  }
}

.social-auth {
  display: flex;
  justify-content: space-between;
  margin-bottom: $space * 2;

  button {
    color: $white;
  }
}

#login-twitter {
  background-color: #00acee;
}

#login-facebook {
  background-color: #3b5998;
}

#login-google {
  background-color: #d34836;
}
