@import 'variables.scss';

.proposal-item,
.delegate-item {
  flex-flow: row wrap;
  position: relative;
  padding: $space / 2;
  margin-bottom: 1rem;
  background-color: $light-grey-xlight;
  box-shadow: 0 1px 5px rgba($black, 0.2);
}

.delegate-item.selected {
  cursor: pointer;
  outline: ($space / 2) solid $light-blue;

  &::after {
    content: '';
    position: absolute;
    left: $space / 4;
    top: $space / 4;
    bottom: $space / 4;
    width: 3px;
    border-left: 2px dotted $light-grey-dark;
    border-right: 2px dotted $light-grey-dark;
  }

  .card-avatar {
    margin-left: $space / 2;
  }
}

.card-main-wrap {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;

  .card-main {
    flex: 1;
  }

  .card-title {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;

    h6 {
      flex: 1;
      line-height: $base-line-height / 1.5;
      letter-spacing: normal;
      word-break: break-word;
    }
  }
}

.card-secondary-wrap {
  flex-basis: 100%;
  flex-flow: row wrap;
  margin-top: $space / 2;
}

.card-avatar {
  width: $space * 1.5;
  height: $space * 1.5;
}

.card-date {
  display: flex;
}
