@import 'variables.scss';
.community-header{
  background-color: transparent; /* For browsers that do not support gradients */
  background-image: -webkit-linear-gradient(black,transparent);
  background-image: -o-linear-gradient(black,transparent);
  background-image: linear-gradient(black,transparent); /* Standard syntax (must be last) */
  position: fixed;
  top: 65px;
  height: 100px;
  width: 100%;
  color: #fff;
  .community-breadcrumb{
    color: #fff;
  }
  .community-breadcrumb:hover{
    color:blue;
  }
}
.parallax {
  /* The image used */
  background-image: url("/img/syntropi_grey.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-end;
  justify-content: center;
  .parallax-community-header{
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: transparent; /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(transparent, black);
    background-image: -o-linear-gradient(transparent, black);
    background-image: linear-gradient(transparent, black); /* Standard syntax (must be last) */
    h5{
      margin-top: 50px;
      color: #fff;
      font-size: 42pt;
      font-family: $landing-heading-font;
      text-transform: uppercase;
    }
    p{
      margin-top: 0px;
      font-style: italic;
      color: #fff;
    }
  }
}
#community-dash-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .community-card-image.mdl-card {
    margin: 10px;
    width: 256px;
    height: 256px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/syntropi_grey.jpg");
  }
  .community-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
  }
  .community-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
