@import 'variables.scss';
@import 'breakpoint.scss';

#cover-image-overlay{
  /* default fallback */
  background: rgb(48,48,48) transparent;
  /* nice browsers */
  background: rgba(48,48,48, 0.6);
  /* IE 6/7 */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#303030);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#303030, endColorstr=#303030)";
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-image-container.disable-edit:hover{

}
.cover-image-container{
  background-image: url("https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjUxNTY3fQ&w=1500&dpi=2");
  background-size: cover;
  height: $header-height-lg;
  width: 100%;
  //margin-top: -20%;
  h5{
    border: solid 1px red;
  }

}

.cover-image-container.disable-edit{
  cursor: default;
  #cover-edit-button{
    display: none;
  }
}

#unsplash-controls{
  //display: flex;
  //align-items: center;
  //justify-content: center;
}
#unsplash-open{
  //margin-bottom: -35px;
  color: $dark-grey-mid;
}
#unsplash-close{
  //border: solid 1px red;
  //margin-top: -55px;
  color: $dark-grey-mid;
}
#cover-edit-button{
  color: #fff;
}

/*
  $tiny: 100px !default;
  $mobile: 480px !default;
  $tablet: 768px !default;
  $laptop: 1024px !default;
  $desktop: 1200px !default;
  $big: 1440px !default;
*/

@media only screen and (min-width: $tiny){
  #cover-container{
    .cover-image-container{
      //border: solid 5px pink;
      height: $header-height-xs;
      #cover-edit-button{

      }
    }
    #cover-image-overlay{
      height: $header-height-xs;
      margin-top: -$header-height-xs;
    }
  }
}
@media only screen and (min-width: $mobile){
  #cover-container{
    .cover-image-container{
      //border: solid 5px blue;
      height: $header-height-sm;
      #cover-edit-button{

      }
    }
    #cover-image-overlay{
      height: $header-height-sm;
      margin-top: -$header-height-sm;
    }
  }
}
@media only screen and (min-width: $tablet){
  #cover-container{
    .cover-image-container{
      //border: solid 5px green;
      height: $header-height-md;
      #cover-edit-button{

      }
    }
    #cover-image-overlay{
      height: $header-height-md;
      margin-top: -$header-height-md;
    }
  }
}
@media only screen and (min-width: $laptop){
  #cover-container{
    .cover-image-container{
      //border: solid 5px red;
      height: $header-height-lg;
      #cover-edit-button{

      }
    }
    #cover-image-overlay{
      height: $header-height-lg;
      margin-top: -$header-height-lg;
    }
  }
}
@media only screen and (min-width: $desktop){
  #cover-container{
    .cover-image-container{
      //border: solid 5px white;
      height: $header-height-lg;
      #cover-edit-button{

      }
    }
    #cover-image-overlay{
      height: $header-height-lg;
      margin-top: -$header-height-lg;
    }
  }
}
@media only screen and (min-width: $big){
  #cover-container{
    .cover-image-container{
      //border: solid 5px orange;
      height: $header-height-xl;
      #cover-edit-button{

      }
    }
    #cover-image-overlay{
      height: $header-height-xl;
      margin-top: -$header-height-xl;
    }
  }
}
