@import './variables.scss';

.dashboard-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-bottom: 6rem;
}

.dash-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 ($space / 2) $space;
  padding: $space / 2;
}

.dash-card-text {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.dash-actions {
  display: flex;
  flex-direction: column;
  margin: $space;

  span {
    margin-bottom: $space / 2;
  }
}
