@import 'variables.scss';
@import 'breakpoint.scss';

.proposal-item,
.delegate-item {
  flex-flow: row wrap;
  position: relative;
  padding: $space / 2;
  margin-bottom: 1rem;
  background-color: $light-grey-xlight;
  box-shadow: 0 1px 5px rgba($black, 0.2);
}

.delegate-item.selected {
  cursor: pointer;
  outline: ($space / 2) solid $light-blue;

  &::after {
    content: '';
    position: absolute;
    left: $space / 4;
    top: $space / 4;
    bottom: $space / 4;
    width: 3px;
    border-left: 2px dotted $light-grey-dark;
    border-right: 2px dotted $light-grey-dark;
  }

  .card-avatar {
    margin-left: $space / 2;
  }
}

.card-main-wrap {
  display: flex;
  flex-basis: 100%;

  h6 {
    line-height: $base-line-height / 1.5;
    letter-spacing: normal;
    word-break: break-word;
  }

  .card-main {
    flex: 1;
  }
}

.card-secondary-wrap {
  flex-basis: 100%;
  flex-flow: row wrap;
  margin-top: $space / 2;
}

.card-avatar {
  width: $space * 1.5;
  height: $space * 1.5;
}

.proposal-date {
  color: $light-blue;
}

// Proposal single view

.proposal-container {
  padding-top: 0;
}

.proposal-wrap,
.proposal-title {
  margin-bottom: $space;
}

.proposal-abstract {
  margin-bottom: 0;
  font-family: $default-font;
  line-height: $base-line-height;
  font-size: $small-font-size;
  color: $dark-grey-dark;
}

.proposal-card-button {
  margin-left: auto;
}

.add-new-proposal {
  position: fixed;
  bottom: $space * 3;
  right: $space;
  z-index: 2;
  background-color: $bright-blue;
  color: $white;

  @include breakpoint($laptop) {
    bottom: $space;
  }
}

.proposal-switch {
  margin-bottom: $space / 2;

  @include breakpoint($mobile) {
    margin-bottom: 0;
  }
}

.proposal-actions {
  margin: $space 0;
  text-align: right;

  .mdl-chip {
    vertical-align: middle;
  }
}

.vote-actions {
  display: flex;
  justify-content: space-around;
  margin: $space/2 0;
  button {
    flex-basis: 30%;
  }
}

.delegate-vote-grid {
  padding-top: 0;
  padding-bottom: 0;
  .mdl-cell{
    margin-top: 0;
    margint-bottom: 0;
    .mdl-list{
      padding: 0;
      margin: 0;
    }
  }
}

