@import 'variables.scss';

// Using the original class, this applies to all instances
.mdl-textfield__input {
  margin-top: $space / 2;
}

.input-wrap {
  display: block;
  overflow: hidden;
  width: auto;
  margin: auto;

  &.getmdl-select__fix-height {
    overflow: visible !important;
  }

}

.small-inputs-wrap {
  display: flex;
  justify-content: space-between;

  .input-wrap {
    flex-basis: 45%;
    margin: 0;
  }
}

.dropdown-icon {
  position: absolute;
  right: 0;
  bottom: $space / 2;
}
.search-input {
  border: solid 1px #ccc;
  background: #fafaf;
}
.search-input input {
  margin-top: 0;
  padding: ($space / 4) ($space * 1.5);
}

.comment-form {
  margin: ($space * 1.5) 0;
}

.custom-label{
  color: rgba(0,0,0,.26);
  font-size: $small-font-size;
}

//SEARCH BAR: Proposals and Delegates
.search-wrapper {
    background: #fafafa;
    border-radius: 5px;
    padding: 10px 10px;

    input {
      width: 100%;
      border: 0;
      border-radius: 5px;
      text-indent: 0px;
      text-align: center;
      font-size: $base-font-size;
      width: 87%;
    }
    .close-icon {
      border:1px solid transparent;
      background-color: transparent;
      display: inline-block;
      vertical-align: middle;
      outline: 0;
      cursor: pointer;
    }
    .close-icon:after {
      content: "X";
      display: block;
      width: 15px;
      height: 15px;
      position: absolute;
      background-color: #FA9595;
      z-index:1;
      right: 35px;
      top: 0;
      bottom: 0;
      margin: auto;
      padding: 2px;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-weight: normal;
      font-size: 12px;
      box-shadow: 0 0 2px #E50F0F;
      cursor: pointer;
    }
    .search-box:not(:valid) ~ .close-icon {
      display: none;
    }
}

.input-wrap.is-invalid{
  overflow: visible;
}

@media screen and (max-width: 600px) {
  .search-wrapper {
    width: 100%;
    input {
      width: 83%
    }
  }
}

@media screen and (max-width: 400px) {
  .search-wrapper {
    width: auto;
    input {
      width: 78%;
    }
  }
}