@import 'variables.scss';
@import 'breakpoint.scss';

.logged-in-header {
  background-color: $white;

  .header-inner {
    i,
    a,
    small {
      color: $blue;
    }
  }

  // Tag Search:
  .mdl-textfield__input{
    color: $blue;
  }

  .mdl-textfield--expandable{
    padding-top: 0px;
    padding-bottom: 20px;
  }

  // Autocomplete

  #headerMatchedTagsList{
    overflow-y: scroll;
    height: 200px;
    width: 25%;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    top: 50px;
    background-color: white;

    .autocomplete-item{
      padding: 0px;
      padding-left: 5px;
      &:hover {
        background: $light-blue-dark;
        cursor: pointer;

        .mdl-list__item-primary-content {
            color: white !important;
        }
    }
      span {
        font-size: $small-font-size;
      }
    }
  }

  .material-icons.mdl-badge.mdl-badge--overlap{
    color: $blue;
    cursor: pointer;
  }

  .material-icons.mdl-badge[data-badge]::after,
  .material-label.mdl-badge[data-badge]::after{
    background-color: $yellow;
  }

}

.mdl-layout__drawer-button i {
  color: $blue;
}

.logged-out-header {
  display: block;
  background-color: $white;

  .header-inner {
    padding: 0 $space / 2;

    h5,
    a {
      vertical-align: middle;
      font-family: $home-title-font;
      text-transform: uppercase;
    }

    i {
      vertical-align: middle;
      color: $yellow;
      font-size: $space * 1.5;
    }

    h5 {
      display: none;

      @include breakpoint($tablet) {
        display: inline-block;
        margin: 0;
        color: $bright-blue;
      }
    }

    a {
      color: $blue;
    }
  }
}


