@import 'variables.scss';
@import 'breakpoint.scss';

.logged-in-header {
  background-color: $white;

  .header-inner {
    i,
    a,
    small {
      color: $blue;
    }
  }

  // Tag Search:
  .mdl-textfield__input{
    color: $blue;
  }

  .mdl-textfield--expandable{
    padding-top: 0px;
    padding-bottom: 20px;
  }

  // Autocomplete

  #headerMatchedTagsList{
    overflow-y: scroll;
    height: 200px;
    width: 25%;
    position: absolute;
    padding-top: 0px;
    margin-top: 0px;
    top: 50px;
    background-color: white;

    .autocomplete-item{
      padding: 0px;
      padding-left: 5px;
      &:hover {
        background: $light-blue-dark;
        cursor: pointer;

        .mdl-list__item-primary-content {
            color: white !important;
        }
    }
      span {
        font-size: $small-font-size;
      }
    }
  }

  .material-icons.mdl-badge.mdl-badge--overlap{
    color: $blue;
    cursor: pointer;
  }

  .material-icons.mdl-badge[data-badge]::after,
  .material-label.mdl-badge[data-badge]::after{
    background-color: $yellow;
  }

  .material-icons.mdl-badge[data-badge].noUnreads::after,
  .material-label.mdl-badge[data-badge].noUnreads::after{
    visibility: hidden;
  }

  #notifications-title{
      background-color: $blue;
      small {
        color: white;
      }

      #mark-as-read {
        color: white;
        cursor: pointer;
        font-size: $xsmall-font-size;
      }
    }

  .notifications-list{
    margin-top: 0px;
    padding-top: 0px;
  
    .notification-time{
      font-size: $xsmall-font-size;
    }
    .mdl-list__item-secondary-content {
      margin-left: 0px;
    }
    
    .notification-item{
      border-bottom: 1px solid $light-grey-dark;
      padding-top: 0 !important;
      padding-bottom: 1.4rem !important;
      cursor: pointer;
      padding-top: $space/4;
      padding-bottom: $space/4;

      &.unread {
        background: $light-grey-light;
      }

      &:hover {
        background: $light-grey-mid;
      }
    }
  }

}

.mdl-layout__drawer-button i {
  color: $blue;
}

.logged-out-header {
  display: block;
  background-color: $white;

  .header-inner {
    padding: 0 $space / 2;

    h5,
    a {
      vertical-align: middle;
      font-family: $home-title-font;
      text-transform: uppercase;
    }

    i {
      vertical-align: middle;
      color: $yellow;
      font-size: $space * 1.5;
    }

    h5 {
      display: none;

      @include breakpoint($tablet) {
        display: inline-block;
        margin: 0;
        color: $bright-blue;
      }
    }

    a {
      color: $blue;
    }
  }
}


