@import 'variables.scss';



body{
	background-color: #F9F9F9;
	color: $landing-header !important;
	p, ul, ol, li, span{
		color: $landing-paragraph !important;
	}
}

/* HEADER */
.header {
	background-color: #fff;
	//(box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
  padding: 7px;
  padding-left: 16px;
	max-height: 74px;
	min-height: 74px;
	height: 74px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
    background-color: transparent;
	}
	li {
    //align-items: center;
    display: inline-flex;
    border-bottom: none;
		a {
			display: block;
			padding-top: 17px;
			//border-right: 1px solid #f4f4f4;

			text-decoration: none;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #6d7272;
      margin: 0 1.0625rem;
      font-size: 0.9rem;
			padding-bottom: 0px;
      border-bottom: 1px solid transparent;

			&:hover {
				//background-color: #f4f4f4;
        //text-decoration: underline;
				border-bottom: 2px solid #909090;
			}
		}
		a.header-divider{
			margin-top:23px;
			border-right: solid 1px #909090;
		}
		a.header-button{
			border-radius: 24px;
	    color: white;
	    background-color: #50c22e;
	    padding: 0px;
	    margin: 0px;
	    height: 43px;
	    max-height: 44px;
	    padding: 0px 16px;
			padding-left: 21px;
			padding-right: 16px;
	    margin-top: 10px;
			margin-right: 9px;
	    margin-left: 12px;
			&:hover {
				//background-color: #f4f4f4;
        //text-decoration: underline;
				border-bottom: 2px solid transparent;
			}

			i.material-icons{
				position: relative;
		    top: 8px;
		    left: 5px;
		    font-size: 28px;
		    font-weight: 900;
			}

		}
	}

	.menu-btn {
		&:hover {
			background-color: #f4f4f4;
		}
		display: none;
		&:checked {
			~ {
				.menu {
					max-height: 400px;
				}
				.menu-icon {
					.navicon {
						background: transparent;
						&:before {
							transform: rotate(-45deg);
						}
						&:after {
							transform: rotate(45deg);
						}
					}
					&:not(.steps) {
						.navicon {
							&:before {
								top: 0;
							}
							&:after {
								top: 0;
							}
						}
					}
				}
			}
		}
	}

	.menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}
	.menu-icon {
		cursor: pointer;
		display: inline-block;
		right: 0;
		padding: 28px 20px;
		position: absolute;
		user-select: none;
		.navicon {
			background: #333;
			display: block;
			height: 2px;
			position: relative;
			transition: background .2s ease-out;
			width: 18px;
			&:before {
				background: #333;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
				top: 5px;
			}
			&:after {
				background: #333;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
				top: -5px;
			}
		}
	}
}

.crowdpol-logo {
	display: block;
	float: left;
	font-size: 2em;

	text-decoration: none;
	background-image: url(img/landing/crowdpol_ecosystem_logo_tools.svg);//crowdpol_ecosystem_logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	color: #000; /* Fallback for older browsers */
	color: rgba(0, 0, 0, 0);
	width: 400px;
	height: 60px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-family: "Futura PT Heavy","futura-pt", sans-serif;
	font-weight: 600;
}
h2{
	//font-size: 1.4rem;
	//line-height: 1.8rem;
	color: $landing-header !important;
	font-weight: 900;
}
h2 > span{
	//font-size: 1.4rem;
	//line-height: 1.8rem;
	//font-weight: 600;
}

/* PAGE CONTENT */
.landing-page-content{
	padding-top: 75px;
	font-family: "futura-pt", sans-serif;
	background-color: $landing-background;
	.landing-page-section{
		margin-bottom: 120px;
		//border: solid 1px grey;
	}
	.section-content{
		//border: solid 1px blue;
		.jumbo-header{
			//border: solid 1px red;
		}
		.jumbo-content{
			//border: solid 1px green;
		}
	}
}
.landing-button{
	border-radius: 24px;
	color: white;
	background-color: $landing-green;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  padding: 14px 19px;
	font-weight: 800;
	i.material-icons{
		position: relative;
    top: 9px;
    left: 6px;
    font-size: 28px;
    font-weight: 600;
	}
}
.landing-button:hover{
  text-decoration: underline;
}
a.learn-more{
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5rem;
  padding: 8px 16px;
	font-weight: 800;
	color: #6d7272;
	i.material-icons{
		position: relative;
    top: 9px;
    left: 6px;
    font-size: 28px;
    font-weight: 600;
		color: #6d7272;
	}
}

ul.landing-page-list{
  list-style-type:disc;
	padding-inline-start: 25px;
  li{
		text-align: left !important;
		margin-bottom: 12px;
    color: $landing-paragraph;
    font-size: 1.1rem;
    line-height: 1.6rem;
		letter-spacing: normal;
    span.heavy{
			color: $landing-paragraph;
			font-size: 1.1rem;
	    line-height: 1.6rem;
      font-weight: 600;
    }
  }
}


.jumbo-content{
	margin-bottom: 60px;
}

/* SVG IMAGES */
.world-map{
	background-image: url(img/landing/world_map.svg);
  background-repeat: no-repeat;
}
.isometric-man{
	background-image: url(img/landing/isometric_man.svg);
	background-repeat: no-repeat;
}
.isometric-woman{
	background-image: url(img/landing/isometric_woman.svg);
	background-repeat: no-repeat;
}
.isometric-phone{
	background-image: url(img/landing/isometric_phone.svg);
	background-repeat: no-repeat;
}
.crowdpol_red_button{
	background-image: url(img/landing/crowdpol_red_button.svg);
	background-repeat: no-repeat;
}
.isometric_globe{
	background-image: url(img/landing/isometric_globe.svg);
	background-repeat: no-repeat;
}
.isometric_heart{
	background-image: url(img/landing/isometric_heart.svg);//url(img/landing/isometric_heart.svg);
	background-repeat: no-repeat;
}
.isometric_sun_facing_right{
	background-image: url(img/landing/isometric_sun_facing_right.svg);
	background-repeat: no-repeat;
}
.isometric_sun_facing_left{
	background-image: url(img/landing/isometric_sun_facing_left.svg);
	background-repeat: no-repeat;
}
.polygon-landscape{
	background-image: url(img/landing/problem_grid.svg);
	background-repeat: no-repeat;
}
.speechbubble{
	background-image: url(img/landing/speechbubble.svg);
	background-repeat: no-repeat;
}
.arrow-up{
	background-image: url(img/landing/arrow_up.svg);
	background-repeat: no-repeat;
}
.recent-stories-arrow{
	display: flex;
  flex-direction: column;
  justify-content: center;
}

/* SECTION 1: IMAGINE */
#imagine-section{
	h1, h2, h3{
		span{
			color: $landing-green !important;;
		}
	}
}
#imagine-section-content{
	.jumbo-header{
    #landing-phone{
    }
  }
  .jumbo-content{
  }
  .recent-stories{
  }
  .jumbo-copy{
  }
  .recent-stories-wrapper{
    .recent-stories-viewport{
    }
  }
}

/* SECTION 2: CONTRIBUTE */
#contribute-section{
	h1, h2, h3{
		span{
			color: $landing-red !important;;
		}
	}
}
#contribute-section-content{
	.jumbo-header{}
	.jumbo-content{}
	#red-button-graphic{

	}
}

/* SECTION 3: NETWORK */
#network-section{
	h1, h2, h3{
		span{
			color: $landing-orange !important;;
		}
	}
}
#network-section-content{
	.jumbo-header{}
	.jumbo-content{}
}

/* SECTION 4: SIGNUP */
#signup-section{

}
#signup-section-content{
	.jumbo-header{}
	.jumbo-content{}
}

/* SECTION 5: RESULT */
#results-section{
	h1, h2, h3{
		span{
			color: $landing-blue !important;;
		}
	}
}
/* SECTION 6: SUPPORT */
#support-section{

}
#support-section-content{
	#real_isometric_heart{


	}
}

#return-section-content{
	.arrow_up{
		width: 93;
		height: 100;
		display: block;
		border: none;
		text-decoration: none;
	}
}

/* TESTING ONLY - CAN REMOVE */
#viewport-size{
	border: solid 1px black;
  font-size: 10px;
  color: black;
  position: fixed;
  bottom: 5px;
  right: 5px;
	padding: 5px;
	background: white;
}


/* FOOTER */
footer{
	padding-bottom: 50px;
	p,a, span{
		font-size: 1rem;
	}
	div.footer-container{

	}
	div.logo-bar-footer{

		a{
			display: inline-block;
			text-decoration: none;
			background-image: url(img/landing/crowdpol_ecosystem_logo.svg);//crowdpol_ecosystem_logo.svg);
			background-size: contain;
			background-repeat: no-repeat;
			color: #000; /* Fallback for older browsers */
			color: rgba(0, 0, 0, 0);

		}
	}
  div.section-content{

    div#info-footer{
			p,span{
				color: #6d7272;
			}

      span#copyright{
      }
			div.language-select{

				i.material-icons{
					color: #6d7272;
			    font-weight: lighter;
			    position: relative;
			    top: 7px;
			    margin-right: 10px;
			    font-size: 1.4rem;
				}
				.language-selector{
	        margin-bottom: 0px;
					font-size: 16px;
					font-weight: 600;
					color: #6d7272;
					line-height: 16px;
				}
			}
    }

    div.footer-content{

      div.footer-column{

        h3{
          font-size: 1rem;
          line-height: 1.2;
          margin: 0 0 1rem;
          font-weight: 700;
          font-style: normal;
          color: #6d7272;
          letter-spacing: 0px;
          font-family: futura-pt, sans-serif;
        }
        ul.footer-ul{
          list-style: none;
          display: block;
          -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
          -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
          -webkit-margin-start: 0;
          margin-inline-start: 0;
          -webkit-margin-end: 0;
          margin-inline-end: 0;
          -webkit-padding-start: 0px;
          padding-inline-start: 0px;
          margin-bottom: 20px;
          font-weight: 400;
          li{
            margin-bottom: 11px;
            a{
              text-decoration: none;
              color: $landing-paragraph;
							letter-spacing: 0px;
            }
          }
        }
      }

    }
    div.social-bar-footer{

      a.footer-social{
        font-size: 16px;
        display: inline;
				color: #BFBFBF;
        margin-right: 0.75rem;
        img{
          height: 0.9rem;;
          opacity: 0.3;
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
        }
      }
			a.soundcloud{
				img{

				}
			}
    }
  }

}

.phone-wrapper{
	width: 100%;
	height: 500px;
	position: relative;
	//border: solid 2px yellow;
	//position: relative;
	/*
	svg{
		border: solid 1px black;
    position: absolute;
    top: 0px;
    left: 0px;
	}*/
	margin-bottom:30px;
}
/* RESPONSIVE LAYOUTS

@media only screen and (min-width: $tiny){
  div.landing-page-content, footer{
    border: solid $test-border-width yellow;
  }
	footer{
		div.footer-container{
			width: 100px;
		}
	  div.section-content{
			flex-wrap: wrap;
	    div#info-footer{

			}
			div.footer-content{
				display: flex;
				flex-wrap: wrap;
	      div.footer-column{
	        //width: 200px;
				}
			}
		}
	}
}




@media only screen and (min-width: $tablet){
  div.landing-page-content, footer{
    border: solid $test-border-width green;
  }
	footer{
		div.footer-container{
			width: 768px;
		}
	}
}

@media only screen and (min-width: $laptop){
  div.landing-page-content, footer{
    border: solid $test-border-width red;
  }
	footer{
		div.footer-container{
			width: 1000px;
		}
	}
}

@media only screen and (min-width: $desktop){
  div.landing-page-content, footer{
    border: solid $test-border-width blue;
  }
}

@media only screen and (min-width: $big){
  div.landing-page-content, footer{
    border: solid $test-border-width pink;

  }
}
*/

@media only screen and (min-width: $mobile){
  div.landing-page-content, footer{
    border: solid $test-border-width orange;
  }
	.hide-480{
		display: none;
	}
	h1, h2.h1{
		font-size: 2.34rem;
    line-height: 2.34rem;
    letter-spacing: normal;
	}
	h2, h3.h2{
		font-size: 2rem;
    line-height: 2rem;
    letter-spacing: normal;
    font-weight: 600;
		text-align: center;
		span{
			font-size: 2rem !important;
	    line-height: 2rem !important;
	    letter-spacing: normal !important;
	    font-weight: 600 !important;
		}
	}
	h3{
		font-size: 1.7rem;
    line-height: 2.1rem;
		span{
			font-size: 1.7rem !important;
			line-height: 2.1rem !important;
			font-weight: 900 !important;
		}
	}

	.jumbo-header{
		//margin: 0 80px;
		//text-align: center;
		p{
			font-size: 1.1rem;
		}
	}
	.section-content{
		//text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		p{
			margin-bottom: 25px;
		}
	}

	/* SECTION 1: IMAGINE */
	#imagine-section{
		margin-bottom: 60px;
		//display: none;
	}
	#imagine-section-content{
		background-image: url(img/landing/crowdpol_landing_1_480_bg.jpg);
	  background-repeat: no-repeat;
		background-position: center top;

		.jumbo-header{
			//display: flex;
			//justify-content: column;
			//margin-top: 40px;
			margin: 0;
			text-align:center;
			margin-bottom: 588px;
			p{
				margin: 0 60px;
				margin-bottom: 25px;
			}
			h1{

				margin: 0 70px;
				margin-bottom: 25px;
				margin-top: 25px;
			}

			#landing-phone{
				height:525px;
				width: 230px;
				margin: 0 auto;
				margin-top: 25px;
			}

		}
		.jumbo-content{
			display: flex;
			flex-direction: column-reverse;
		}
		.recent-stories{
			height: 270px;
			text-align: center;
			margin-top: 50px;
		}
		.jumbo-copy{
			margin: 0 80px;
			text-align: center;
		}
		.recent-stories-wrapper{
			text-align: center;
			height: 200px;
			width: 100vw;
			display: flex;
			flex-direction: row;
			padding: 10px;
			overflow: hidden;
			.recent-stories-viewport{
				width: calc(100vw - 70px);
				height: 210px;
				max-height: 210px;
				overflow: hidden;
				//border: solid 1px red;
			}
		}
		.recent-stories-scroller{
			flex-direction: row;
    	display: flex;
			width: calc(5 * 100vw);
			.proposal-item{

		    list-style: none;
		    max-height: 210px;;
			}
		}
		.recent-story{
			width: 9%;
		}
		.phone-wrapper{
			#landing-phone{

			}
			svg{
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}

	/* SECTION 2: CONTRIBUTE */
	#contribute-section{
		margin-bottom: 143px;
		//display: none;
	}
	#contribute-section-content{
		background-image: url(img/landing/crowdpol_landing_3_480_bg.jpg);
		background-repeat: no-repeat;
		background-position: center 243px;
		.jumbo-header{
			text-align: center;
			margin-bottom: 757px;
			h1{
				margin: 0 80px;
				margin-bottom: 25px;
			}
			p{
				margin-bottom: 32px;
			}
		}
		.jumbo-content{
			text-align: center;
			margin: 0px 22px;
			.landing-page-list{
				padding-inline-start: 30px;
				margin-bottom: 25px;
			}
		}

		#red-button-graphic{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 460px;
			//border: solid 1px pink;
			.isometric-man,.isometric-woman{
				width: 60px;
				height: 120px;
			}
			.speechbubble{
				width:110px;
				height: 95px;
			}
			.crowdpol_red_button{
				width:185px;
				height:205px;
			}
		}
	}

	/* SECTION 3: NETWORK */
	#network-section{

		margin-bottom: 75px;
	}
	#network-section-content{
		background-image: url(img/landing/crowdpol_landing_2_480_bg.jpg);
	  background-repeat: no-repeat;
		background-position: center 218px;

		.jumbo-header{
			margin: 0px;
			margin-bottom: 380px;
			text-align: center;
		}
		.jumbo-content{

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			h3{
				margin: 45px 35px;
				margin-bottom: 35px;
			}
			p{
				font-size: 1.1rem;
				margin: 0 67px;
				line-height: 1.8rem;
    		text-align: center;
			}
		}
		.isometric_sun_facing_right{
			margin-top: 86px;
			margin-bottom: 30px;
			width: 260px;
			height: 270px;
		}
		.isometric_globe{
			width: 275px;
			height: 300px;
			margin-top: 65px;
		}
	}

	/* SECTION 4: RESULTS */
	#results-section{
		margin-bottom: 98px;
	}
	#results-section-content{
		.jumbo-header{
			text-align: center;
			margin: 0 40px;
			h2{
				//margin: 0 80px;
    		margin-bottom: 25px;
			}
		}
		.jumbo-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.isometric-man{
			height: 300px;
			width: 135px;
			margin-top: 66px;
    	margin-bottom: 69px;
		}
		.landing-page-list{
			margin: 0 58px;
		}
	}

	/* SECTION 5: SIGNUP */
	#signup-section{
		margin-bottom: 51px;
	}
	#signup-section-content{
		.jumbo-header{
			margin: 0 30px;
		}
		.jumbo-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0 25px;

			.landing-input{
				font-family: "Futura PT Heavy","futura-pt", sans-serif;
			  width: 100%;
				height: 60px;
				font-size: 1.1rem;
			  padding: 12px 20px;
			  margin: 8px 0;
			  display: inline-block;
			  border: 1px solid #676565;
			  border-radius: 4px;
			  box-sizing: border-box;

			}
			::-webkit-input-placeholder { /* Edge */
				color: rgb(192,189,187);
				font-weight: 600;
			}

			:-ms-input-placeholder { /* Internet Explorer 10-11 */
				color: rgb(192,189,187);
				font-weight: 600;
			}

			::placeholder {
				color: rgb(192,189,187);
				font-weight: 600;
			}
			/*
			input[type=submit] {
			  width: 100%;
			  background-color: #4CAF50;
			  color: white;
			  padding: 14px 20px;
			  margin: 8px 0;
			  border: none;
			  border-radius: 4px;
			  cursor: pointer;
			}
			*/
			small,a{
				font-size: 1rem;
				color: $landing-paragraph;
			}
			.signup-button{
				display: inline-block;
				margin-top: 25px;
				height: 65px;
				width: 100%;
				border-radius: 36px;
				border: none;
				background-color: $landing-green;
				margin-bottom: 25px;
				color: $white;
				padding: 9px 19px;
				font-weight: 500;
				&:hover {
			  	background-color: #45a049;
					text-decoration: none;
				}
			}

			.checkbox-container{
				padding-left: 25px;
				margin: 0px 104px;
    		font-size: 1.1rem;
				margin-bottom: 5px;
				font-weight: lighter;
			}

		}
	}

	/* SECTION 6: SUPPORT */
	#support-section{
		margin-bottom: 35px;
	}
	#support-section-content{
		.jumbo-header{
			margin-bottom: 10px;
		}
		.jumbo-content{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-bottom: 0px;
		}
		.isometric_heart{
			width: 200px;
			height: 235px;
		}
	}
	#return-section{

	}
	#return-section-content{
		display: flex;
		a{
			display: inline-block;
			width: 90px;
			height: 100px;
		}
	}

	footer{
		margin-left: 80px;
		p{
			font-size: 1rem;
		}
		div.footer-container{
			div.footer-content{
				display: flex;
    		flex-direction: row;
    		flex-wrap: wrap;
			}
		}
		#info-footer{
			p{
				font-size: 0.9rem;
				color: #6d7272;
			}

			p,#copyright,language-select{
				font-weight: 600;

				margin-bottom: 0;
			}
			small{
				font-size: 0.8rem;
			}
			#all-rights{
				margin-bottom: 0;
				line-height: 0.5rem;
			}
			#copyright{
				margin-bottom: 28px;
				font-size: 0.8rem;
			}
			#crowdpol-ecosystem{
				margin-bottom: 0px;
				line-height: 0.8rem;
			}
			#tools-for-change{
				margin-bottom: 62px;
			}
			#language-select{}
		}
		#info-footer,.footer-column{
			min-width: 50%;
			text-align: left;
			margin-bottom: 40px;
		}
		div.logo-bar-footer{
			.footer-logo{
				height: 40px;
				width: 100%;
			}
			margin-bottom: 35px;
		}
		div.social-bar-footer{
			width: 100%;
			text-align: center;
		}

	}
}
@media only screen and (min-width: $tablet){
	div.landing-page-content, footer{
		border: solid $test-border-width green;
	}
	.hide-480{
		display:inline;
	}
	.hide-768{
		display: none;
	}
	h1, h2.h1{
		font-size: 3.8rem;
		line-height: 3.9rem;
		font-weight: 700;
	}
	h2, h3.h2{
		font-size: 2rem;
    line-height: 2rem;
    letter-spacing: normal;
    font-weight: 600;
		text-align: center;
		span{
			font-size: 2rem !important;
	    line-height: 2rem !important;
	    letter-spacing: normal !important;
	    font-weight: 600 !important;
		}
	}
	h3{
		font-size: 1.7rem;
    line-height: 2.1rem;
		span{
			font-size: 1.7rem !important;
			line-height: 2.1rem !important;
			font-weight: 900 !important;
		}
	}
	p{
		font-size: 1.3rem;
		font-weight: 100;
	}
	.jumbo-header{
		p{
			font-size: 1.3rem;
			font-weight: 100;
		}
	}
	#imagine-section{
		//display: none;
	}
	/* SECTION 1: IMAGINE */
	#imagine-section-content{
		background-image: url(img/landing/crowdpol_landing_1_768_bg.jpg);
	  background-repeat: no-repeat;
		text-align: left;
		.jumbo-header{
			text-align:left;
			margin-bottom: 25px;
			h1{
				margin: 0 45px;
				margin-top: 57px;
				margin-right: 100px;
			}
			p{
				margin: 25px 45px;
				margin-bottom: 50px;
			}
			.landing-button {
				margin-left: 45px;
				margin-bottom: 65px;
			}
	    .phone-wrapper{
				display:none;
	    }
	  }
	  .jumbo-content{
			text-align:left;
			flex-direction: column;
	  }
	  .recent-stories{
			height: 250px;
	    text-align: left;
	    margin-top: 50px;
			margin-bottom: 65px;
	    width: 65%;
	    border: solid 1px red;
	    overflow: hidden;
			h2{
				font-size: 1.5rem;
				font-size: 1.6rem;
		    font-weight: 500;
		    letter-spacing: 0;
				span{
					color: #5f6667 !important;
				}
			}
	  }
		.jumbo-copy{
			margin: 0px;
			text-align: left;
			h2{
				font-size: 1.9rem;
				line-height: 2.1rem;
				font-weight: 600;
				letter-spacing: normal;
				margin-bottom: 15px;
				margin-right: 9%;
				text-align: left;
			}
		}
	  .jumbo-content{
			margin: 0 45px;
	  }
	  .recent-stories-wrapper{
			width: 440px;
			height: 250px;
	    .recent-stories-viewport{
				width: 438px;
	    }
	  }
	}


	/* SECTION 2: CONTRIBUTE */
	#contribute-section{
		margin-bottom: 50px;
		//display:none;
	}
	#contribute-section-content{
		background-image: url(img/landing/crowdpol_landing_3_768_bg.jpg);
		background-repeat: no-repeat;
		background-position: center 145px;
		text-align: left;
		.jumbo-header{
			margin: 0 60px;

			text-align: left;
			h2{
				text-align: left;
				margin-right: 10%;
			}
			p{
				margin-bottom: 49px;
			}
		}
		.jumbo-content{
			margin: 0 55px;
			margin-top: 564px;
			text-align: left;
			h3.h2{
				text-align: left;
				font-size: 1.9rem
			}
		}
	}
	#network-section{
		margin-bottom: 95px;
		//display: none;
	}
	/* SECTION 3: NETWORK */
	#network-section-content{
		background-image: url(img/landing/crowdpol_landing_2_768_bg.jpg);
    background-repeat: no-repeat;
    background-position: center 127px;
		.jumbo-header{
			margin-bottom: 458px;
			text-align: right;
			margin-right: 20px;
			h2.h1{
				text-align: right;
			}
			p{
				margin-bottom: 55px;
			}
		}
		.jumbo-content{
			text-align: left;
			align-items: normal;
			margin: 0px;
			margin-left: 60px;
			h3.h2, p{
				text-align: left;

			}
			h3{
				margin-bottom: 18px;
				margin-left: 0px;
				margin-top: 0px;
				margin-right: 0px;
				font-size: 1.9rem;
				line-height: 2.15rem;
			}
			p{
				margin: 0;
				margin-bottom: 5px;
				margin-right: 60px;
				line-height: 1.74rem;
			}
			a.learn-more{
				padding: 0px;
			}
		}
	}

	/* SECTION 4: RESULT */
	#results-section{
		display: flex;
		flex-direction: row;
		align-content: space-between;
		margin-bottom: 68px;
	}
	#isometric-man-column{
		margin-left: 60px;

		width: 45%;
		background-position: center 0;
    background-size: 87%;
		-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
	}
	#results-section-content{
		width: 100%;
		margin-right: 45px;
		.jumbo-header{
			text-align: right;
			margin: 0px;
			margin-bottom: 55px;
			h1, h2.h1{
				text-align: right;
			}
			p{
				font-size: 1.15rem;
				margin-top: 0px;
				margin-bottom: 58px;
			}
		}
		.jumbo-content{
			margin-left: 40px;
			text-align: left;
			align-items: normal;
			h2, h3.h2 {
				text-align: left;
			}
			.landing-page-list{
				margin: 0px;
			}
		}
	}

	/* SECTION 5: SIGNUP */
	#signup-section{
		margin-bottom: 75px;
	}
	#signup-section-content{

		.jumbo-header{
			margin: 0 100px;
		}
		.jumbo-content{
			margin: 0 115px;
		}
	}


	/* SECTION 6: SUPPORT */
	#support-section{
		display: flex;
		flex-direction: row;
		align-content: space-between;

		#isometric-heart-column{
			width: 27%;
			margin-left:115px;
		}
	}
	#support-section-content{
		margin-left: 50px;
		margin-right: 100px;
		text-align: left;
		.jumbo-header{
			padding-top: 10px;
			margin: 0px;
			h2, h3.h2{
				text-align: left;
				font-size: 1.8rem;
			}
		}
		.jumbo-content{
			width: 100%;
			margin: 0px;
			text-align: left;
			align-items: normal;
			div{
				width: 100%;
				ul.landing-page-list{
					margin: 0px;
					li{
						line-height: 1.4rem;
					}
				}
				a.learn-more {
					padding: 0px;
				}
			}
		}
	}
	#return-section{
		margin-bottom: 55px;
	}
	#return-section-content{
		margin-top: 75px;
		.arrow_up{

		}
	}
	footer{
		margin-left: 70px;
		div.logo-bar-footer {
			.footer-logo{
				height: 60px;
			}
		}
		#info-footer{
			width: 100%;
			display: flex;
			flex-direction: row;
			div{
				min-width: 25%;
			}
			#copyright,#tools-for-change{
				margin-bottom: 0px;
			}
			.language-select{
				display: flex;
				align-content: flex-start;
				i.material-icons{
					top: -4px !important;
				}
			}
		}
		.footer-column{
			min-width: 25%;
		}
	}
}
@media only screen and (min-width: $laptop){
  div.landing-page-content, footer{
    border: solid $test-border-width red;
  }
	.hide-480, .hide-768{
		display: inline-block;
	}
	.hide-1024{
		display: none;
	}

	h1, h2.h1{
		font-weight: 600;
	}
	/* SECTION 1: IMAGINE */
	#imagine-section{
		margin-bottom: 90px;
	}
	#imagine-section-content{
		background-image: url(img/landing/crowdpol_landing_1_1200_bg.jpg);
		background-position: center top;
		padding-top: 111px;
		.jumbo-header{
			margin: 0 70px;
			p{
				font-size: 1.2rem;
				margin-top: 37px;
				margin-bottom: 41px;
				margin-left: 0px;
			}
			h1{
				margin-left: 0px;
				margin-right: 30%
			}
			.landing-button{
				margin-left: 0px;
			}
	    #landing-phone{
				display:none;
	    }
	  }
	  .jumbo-content{
			margin: 0px;
			margin-top: 110px;
			flex-direction: row;
	  }
	  .recent-stories{
			min-width: 52%;
	  }
	  .jumbo-copy{
			min-width: 44%;
			margin-top: 100px;
	  }
	  .recent-stories-wrapper{
	    .recent-stories-viewport{
	    }
	  }
		ul.landing-page-list{
			li{
				line-height: 1.1rem;
			}
		}
	}

	/* SECTION 2: CONTRIBUTE */
	#contribute-section{
		margin-bottom: 112px;
	}
	#contribute-section-content{
		background-image: url(img/landing/crowdpol_landing_3_1200_bg.jpg);
		background-position: center 155px;
		.jumbo-header{
			p{
				font-size: 1.2rem;
			}
		}
		.jumbo-content{
			margin-top: 490px;
			margin-left: 36%;
		}
		#red-button-graphic{

		}
	}

	/* SECTION 3: NETWORK */
	#network-section{
		margin-bottom: 152px;
	}
	#network-section-content{
		background-image: url(img/landing/crowdpol_landing_2_1200_bg.jpg);
		background-position: center 155px;
		padding-right: 50px;
		.jumbo-header{
			margin-left: 12%;
			h1.h2{
				line-height: 3.5rem;
			}
			p{
				font-size: 1.2rem;
			}
		}
		.jumbo-content{
			margin-left: 26%;
			margin-top: 40px;
			p{
				line-height: 1.6rem;
				margin-bottom: 15px;
			}
		}
	}

	/* SECTION 4: RESULTS */
	#results-section{
		margin-bottom: 0px;
	}
	#results-section-content{
		position: relative;
		.jumbo-header{
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
		}
		.jumbo-content{
			position: relative;
			float: left;
			width: 69%;
			margin-left: 23%;
			border: solid 1px red;
			h3.h2{
				margin-right: 35%;
				margin-bottom: 20px;
    		font-size: 1.9rem;
    		line-height: 1.9rem;
			}
			ul.landing-page-list{
				li{
					line-height: 1.2rem;
					margin-bottom: 5px;
				}
			}
		}
		.isometric-man{
			margin-top: 0px;
			width: 28%;
			height: 435px;
			margin-bottom: 50px;
			-moz-transform: scaleX(-1);
	    -o-transform: scaleX(-1);
	    -webkit-transform: scaleX(-1);
	    transform: scaleX(-1);
	    filter: FlipH;
	    -ms-filter: "FlipH";
		}
	}
	/* SECTION 5: SIGNUP */
	#signup-section{

	}
	#signup-section-content{
		.jumbo-header{}
		.jumbo-content{}
	}

	/* SECTION 5: RESULT */
	#results-section{
		h1, h2, h3{
			span{
				color: $landing-blue !important;;
			}
		}
	}
	/* SECTION 6: SUPPORT */
	#support-section{

	}
	#support-section-content{
		#real_isometric_heart{


		}
	}

	#return-section-content{
		.arrow_up{
			width: 93;
			height: 100;
			display: block;
			border: none;
			text-decoration: none;
		}
	}

}
@media only screen and (min-width: $desktop){
  div.landing-page-content, footer{
    border: solid $test-border-width blue;
  }
}
@media only screen and (min-width: $big){
  div.landing-page-content, footer{
    border: solid $test-border-width pink;
  }
}
