@import 'variables.scss';

/* MOVE TO VARIABLES.SCSS WHEN COMPLETE */
$landing-green: #50c22e;
//color: #6d7272; //grey, guessing for font
$landing-orange: #fa970e; //orange
$landing-red: #fa5427; //red
$landing-blue: #91b4b7;
$landing-background: rgb(249,249,249);

/* HEADER */
.header {
	background-color: #fff;
	//(box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
  padding: 7px;
  padding-left: 16px;
	max-height: 74px;
	min-height: 74px;
	height: 74px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
    background-color: transparent;
	}
	li {
    //align-items: center;
    display: inline-flex;
    border-bottom: none;
		a {
			display: block;
			padding-top: 17px;
			//border-right: 1px solid #f4f4f4;

			text-decoration: none;
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #6d7272;
      margin: 0 1.0625rem;
      font-size: 0.9rem;
			padding-bottom: 0px;
      border-bottom: 1px solid transparent;

			&:hover {
				//background-color: #f4f4f4;
        //text-decoration: underline;
				border-bottom: 2px solid #909090;
			}
		}
		a.header-divider{
			margin-top:23px;
			border-right: solid 1px #909090;
		}
		a.header-button{
			border-radius: 24px;
	    color: white;
	    background-color: #50c22e;
	    padding: 0px;
	    margin: 0px;
	    height: 43px;
	    max-height: 44px;
	    padding: 0px 16px;
			padding-left: 21px;
			padding-right: 16px;
	    margin-top: 10px;
			margin-right: 9px;
	    margin-left: 12px;
			&:hover {
				//background-color: #f4f4f4;
        //text-decoration: underline;
				border-bottom: 2px solid transparent;
			}

			i.material-icons{
				position: relative;
		    top: 8px;
		    left: 5px;
		    font-size: 28px;
		    font-weight: 900;
			}

		}
	}

	.menu-btn {
		&:hover {
			background-color: #f4f4f4;
		}
		display: none;
		&:checked {
			~ {
				.menu {
					max-height: 400px;
				}
				.menu-icon {
					.navicon {
						background: transparent;
						&:before {
							transform: rotate(-45deg);
						}
						&:after {
							transform: rotate(45deg);
						}
					}
					&:not(.steps) {
						.navicon {
							&:before {
								top: 0;
							}
							&:after {
								top: 0;
							}
						}
					}
				}
			}
		}
	}

	.menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}
	.menu-icon {
		cursor: pointer;
		display: inline-block;
		right: 0;
		padding: 28px 20px;
		position: absolute;
		user-select: none;
		.navicon {
			background: #333;
			display: block;
			height: 2px;
			position: relative;
			transition: background .2s ease-out;
			width: 18px;
			&:before {
				background: #333;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
				top: 5px;
			}
			&:after {
				background: #333;
				content: '';
				display: block;
				height: 100%;
				position: absolute;
				transition: all .2s ease-out;
				width: 100%;
				top: -5px;
			}
		}
	}
}

.crowdpol-logo {
	display: block;
	float: left;
	font-size: 2em;

	text-decoration: none;
	background-image: url(img/landing/crowdpol_ecosystem_logo_tools.svg);//crowdpol_ecosystem_logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	color: #000; /* Fallback for older browsers */
	color: rgba(0, 0, 0, 0);
	width: 400px;
	height: 60px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-family: "Futura PT Heavy","futura-pt", sans-serif;
	font-weight: 600;
}
h2{
	//font-size: 1.4rem;
	//line-height: 1.8rem;
}
h2 > span{
	//font-size: 1.4rem;
	//line-height: 1.8rem;
	//font-weight: 600;
}

/* PAGE CONTENT */
.landing-page-content{
	padding-top: 75px;
	font-family: "futura-pt", sans-serif;
	background-color: $landing-background;
	.landing-page-section{
		margin-bottom: 120px;
		border: solid 1px grey;
	}
	.section-content{
		border: solid 1px blue;
		.jumbo-header{
			border: solid 1px red;
		}
		.jumbo-content{
			border: solid 1px green;
		}
	}
}
.landing-button{
	border-radius: 24px;
	color: white;
	background-color: $landing-green;
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
	line-height: 1.4;
  padding: 8px 16px;
	font-weight: 800;
	i.material-icons{
		position: relative;
    top: 9px;
    left: 6px;
    font-size: 28px;
    font-weight: 600;
	}
}
.landing-button:hover{
  text-decoration: underline;
}
a.learn-more{
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.5rem;
  padding: 8px 16px;
	font-weight: 800;
	i.material-icons{
		position: relative;
    top: 9px;
    left: 6px;
    font-size: 28px;
    font-weight: 600;
	}
}

ul.landing-page-list{
  list-style-type:disc;
  li{
    margin-bottom: 12px;
    color: #6d7272;
    font-size: 1.1875rem;
    letter-spacing: -0.2px;
    line-height: 1.4;
    span.heavy{
      letter-spacing: -0.2px;
      line-height: 1.4;
      font-weight: 600;
    }
  }
}

.jumbo-header{
	margin: 0 80px;
	text-align: center;
}
.jumbo-content{
	margin-bottom: 60px;
}

/* SVG IMAGES */
.world-map{
	background-image: url(img/landing/world_map.svg);
  background-repeat: no-repeat;
}
.isometric-man{
	background-image: url(img/landing/isometric_man.svg);
	background-repeat: no-repeat;
}
.isometric-woman{
	background-image: url(img/landing/isometric_woman.svg);
	background-repeat: no-repeat;
}
.isometric-phone{
	background-image: url(img/landing/isometric_phone.svg);
	background-repeat: no-repeat;
}
.crowdpol_red_button{
	background-image: url(img/landing/crowdpol_red_button.svg);
	background-repeat: no-repeat;
}
.isometric_globe{
	background-image: url(img/landing/isometric_globe.svg);
	background-repeat: no-repeat;
}
.isometric_heart{
	background-image: url(img/landing/real_isometric_heart.svg);//url(img/landing/isometric_heart.svg);
	background-repeat: no-repeat;
}
.isometric_sun_facing_right{
	background-image: url(img/landing/isometric_sun_facing_right.svg);
	background-repeat: no-repeat;
}
.isometric_sun_facing_left{
	background-image: url(img/landing/isometric_sun_facing_left.svg);
	background-repeat: no-repeat;
}
.polygon-landscape{
	background-image: url(img/landing/polygon_landscape_holder.png);
	background-repeat: no-repeat;
}
.speechbubble{
	background-image: url(img/landing/speechbubble.svg);
	background-repeat: no-repeat;
}
.speechbubble{
	background-image: url(img/landing/speechbubble.svg);
	background-repeat: no-repeat;
}
.arrow-up{
	background-image: url(img/landing/arrow_up.svg);
	background-repeat: no-repeat;
}

/* SECTION 1: IMAGINE */
#imagine-section{

}
#imagine-section-content{
	.jumbo-header{
    #landing-phone{
    }
  }
  .jumbo-content{
  }
  .recent-stories{
  }
  .jumbo-copy{
  }
  .recent-stories-wrapper{
    .recent-stories-viewport{
    }
  }
}

/* SECTION 2: CONTRIBUTE */
#contribute-section{

}
#contribute-section-content{
	.jumbo-header{}
	.jumbo-content{}
	#red-button-graphic{

	}
}

/* SECTION 3: NETWORK */
#network-section{

}
#network-section-content{
	.jumbo-header{}
	.jumbo-content{}
}

/* SECTION 4: SIGNUP */
#signup-section{

}
#signup-section-content{
	.jumbo-header{}
	.jumbo-content{}
}

/* SECTION 5: SUPPORT */
#support-section{

}
#support-section-content{
	#real_isometric_heart{


	}
}

#return-section-content{
	.arrow_up{
		width: 93;
		height: 100;
		display: block;
		border: none;
		text-decoration: none;
	}
}
/* TESTING ONLY - CAN REMOVE */
#viewport-size{
	border: solid 1px black;
  font-size: 10px;
  color: black;
  position: fixed;
  bottom: 5px;
  right: 5px;
	padding: 5px;
	background: white;
}


/* FOOTER */
footer{
  background-color: #F9F9F9;
  padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 50px;
	div.footer-container{
		width: 1000px;
		margin: 0 auto;
		//border: solid $test-border-width grey;
	}
	div.logo-bar-footer{
		padding-bottom: 62px;
		a{
			display: block;
			float: left;
			font-size: 2em;
			padding: 10px 20px;
			text-decoration: none;
			background-image: url(img/landing/crowdpol_ecosystem_logo.svg);//crowdpol_ecosystem_logo.svg);
			background-size: contain;
			background-repeat: no-repeat;
			color: #000; /* Fallback for older browsers */
			color: rgba(0, 0, 0, 0);
			width: 100%;
			height: 60px;
		}
	}
  div.section-content{
		padding: 0px;
    div#info-footer{
      display: flex;
      flex-direction: column;
			width: 240px;
			min-width: 240px;
			max-width: 240px;
      p{
				padding-top: 3px;
        margin-bottom: 0px;
				font-size: 16px;
				font-weight: 600;
				color: #6d7272;
				line-height: 16px;
      }
      span#copyright{
				margin-top: -4px;
        font-size: 14px;
        font-weight: 600;
        color: #6d7272;
        margin-bottom: 24px;
        display: block;
      }
			div.language-select{
				margin-top: 64px;
				i.material-icons{
					color: #6d7272;
					font-weight: 100;
					position: relative;
					top: 7px;
					margin-right: 10px;
				}
				.language-selector{
	        margin-bottom: 0px;
					font-size: 16px;
					font-weight: 600;
					color: #6d7272;
					line-height: 16px;
				}
			}
    }

    div.footer-content{
      display: flex;
      align-items: flex-start;
      //justify-content: space-between;
      div.footer-column{
        width: 200px;
				//border: solid 1px grey;
        h3{
          font-size: 1rem;
          line-height: 1.2;
          margin: 0 0 1rem;
          font-weight: 700;
          font-style: normal;
          color: #6d7272;
          letter-spacing: 0px;
          font-family: futura-pt, sans-serif;
        }
        ul.footer-ul{
          list-style: none;
          display: block;
          -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
          -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
          -webkit-margin-start: 0;
          margin-inline-start: 0;
          -webkit-margin-end: 0;
          margin-inline-end: 0;
          -webkit-padding-start: 0px;
          padding-inline-start: 0px;
          margin-bottom: 20px;
          font-weight: 400;
          li{
            margin-bottom: 9px;
            a{
              text-decoration: none;
              color: #6d7272;
							font-size: 16px;
							letter-spacing: 0px;
            }
          }
        }
      }

    }
    div.social-bar-footer{
			margin-top: 45px;
      display: flex;
      flex-direction: row;
      a.footer-social{
        font-size: 16px;
        display: inline;
				color: #BFBFBF;
        margin-right: 0.75rem;
        img{
					//border: solid 1px grey;
          //width: 23px;
          height: 23px;
          opacity: 0.3;
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
        }
      }
			a.soundcloud{
				img{

				}
			}
    }
  }

}


/* RESPONSIVE LAYOUTS

@media only screen and (min-width: $tiny){
  div.landing-page-content, footer{
    border: solid $test-border-width yellow;
  }
	footer{
		div.footer-container{
			width: 100px;
		}
	  div.section-content{
			flex-wrap: wrap;
	    div#info-footer{

			}
			div.footer-content{
				display: flex;
				flex-wrap: wrap;
	      div.footer-column{
	        //width: 200px;
				}
			}
		}
	}
}




@media only screen and (min-width: $tablet){
  div.landing-page-content, footer{
    border: solid $test-border-width green;
  }
	footer{
		div.footer-container{
			width: 768px;
		}
	}
}

@media only screen and (min-width: $laptop){
  div.landing-page-content, footer{
    border: solid $test-border-width red;
  }
	footer{
		div.footer-container{
			width: 1000px;
		}
	}
}

@media only screen and (min-width: $desktop){
  div.landing-page-content, footer{
    border: solid $test-border-width blue;
  }
}

@media only screen and (min-width: $big){
  div.landing-page-content, footer{
    border: solid $test-border-width pink;

  }
}
*/

@media only screen and (min-width: $mobile){
  div.landing-page-content, footer{
    border: solid $test-border-width orange;
  }
	.hide-480{
		display: none;
	}
	h1{
		font-size: 1.4rem;
		line-height: 1.8rem;
	}
	h2,h3{
		font-size: 1.4rem;
		line-height: 1.8rem;
		span{
			font-size: 1.4rem !important;
			line-height: 1.8rem !important;
			font-weight: 600 !important;
		}
	}
	.section-content{
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		ul.landing-page-list{
			text-align: left;
		}
	}

	/* SECTION 1: IMAGINE */
	#imagine-section{
		h1, h2, h3{
			span{
				color: $landing-green;
			}
		}
	}
	#imagine-section-content{
		background-position: 30% -70px;
    background-size: 1200px auto;
		padding-top: 40px;
		
		.jumbo-header{
			//display: flex;
			//justify-content: column;
			margin-top: 40px;
			margin: 0 80px;
			text-align:center;
			#landing-phone{
				height:525px;
				width: 230px;
				margin: 0 auto;
				margin-top: 20px;
			}

		}
		.jumbo-content{
			display: flex;
			flex-direction: column-reverse;
		}
		.recent-stories{
			height: 270px;
			text-align: center;
		}
		.jumbo-copy{
			margin: 0 80px;
		}
		.recent-stories-wrapper{
			text-align: center;
			height: 200px;
			width: 100vw;
			display: flex;
			flex-direction: row;
			.recent-stories-viewport{
				width: calc(100vw - 70px);
				border: solid 1px red;
			}
		}
	}

	/* SECTION 2: CONTRIBUTE */
	#contribute-section{
		h1, h2, h3{
			span{
				color: $landing-red;
			}
		}
	}
	#contribute-section-content{
		.jumbo-header{
			margin-bottom: 70px;
		}
		.jumbo-content{}

		#red-button-graphic{
			display: flex;
			flex-wrap: wrap;
			width: 100vw;
			height: 460px;
			border: solid 1px pink;
			.isometric-man,.isometric-woman{
				width: 60px;
				height: 120px;
			}
			.speechbubble{
				width:110px;
				height: 95px;
			}
			.crowdpol_red_button{
				width:185px;
				height:205px;
			}
		}
	}

	/* SECTION 3: NETWORK */
	#network-section{
		h1, h2, h3{
			span{
				color: $landing-orange;
			}
		}
	}
	#network-section-content{
		.jumbo-header{}
		.jumbo-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.isometric_sun_facing_right{
			width: 260px;
			height: 270px;
		}
		.isometric_globe{
			width: 275px;
			height: 300px;
		}
	}

	/* SECTION 4: RESULTS */
	#results-section{
		h1, h2, h3{
			span{
				color: $landing-blue;
			}
		}
	}
	#results-section-content{
		.jumbo-header{

		}
		.jumbo-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.isometric-man{
			height: 300px;
			width: 135px;
		}
	}

	/* SECTION 5: SIGNUP */
	#signup-section{

	}
	#signup-section-content{
		.jumbo-header{}
		.jumbo-content{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	/* SECTION 6: SUPPORT */
	#support-section{

	}
	#support-section-content{
		.jumbo-content{
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}
		.isometric_heart{
			width: 200px;
			height: 235px;
		}
	}


	footer{
		div.footer-container{
			width: 480px;
		}
	}
}
