@import 'variables.scss';
@import 'breakpoint.scss';
//NOTIFICIATIONS

#notifications-title{
    background-color: $blue;
      small {
        color: white;
      }

      #mark-as-read{
        color: white;
        cursor: pointer;
        font-size: $xsmall-font-size;
      }
}

.notifications-list{
    margin-top: 0px;
    padding-top: 0px;

    .mdl-list__item--three-line{
      height: 110px;
    }
  
    .notification-time{
      font-size: $xsmall-font-size;
    }
    .mdl-list__item-secondary-content {
      margin-left: 0px;
    }
    
    .notification-item{
      background: $white;
      border-bottom: 1px solid $light-grey-light;
      padding-top: 0 !important;
      padding-bottom: 1.4rem !important;
      cursor: pointer;
      padding-top: $space/4;
      padding-bottom: $space/4;

      &:hover {
        background: $light-grey-mid;
      }
    }
    .notification-item.unread{
        background: $notification-blue;
    }
    .notification-item.read{
        background: $white;
    }
}
#view-all {
        cursor: pointer;
        font-size: $xsmall-font-size;
}