@import 'variables.scss';

.profile-picture {
  display: block;
  margin: $space auto;
  width: $space * 5;
  height: $space * 5;
  border-radius: 100%;
}

.valid-username {
  position: absolute;
  top: $space;
  right: 0;
}

.switches-wrap {
  display: flex;
  justify-content: space-around;
  padding: ($space * 2) 0;

  label {
    width: auto;
  }
}

.user-tags-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.right-drawer.active {
  position: fixed;
  width: 80%;
  max-width: 40rem;
  z-index: 11;
}

.right-drawer-header {
  padding: ($space / 2) $space;
  text-align: center;

  .profile-picture {
    width: $space * 4;
    height: $space * 4;
  }

  h6 {
    color: $light-grey-dark;
    margin-bottom: $space / 2;
  }
}

.right-drawer-content {
  padding: $space;
}

#public-form-details {
  .mdl-checkbox {
    display: inline;
  }
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

#password-match-error{
  margin: 0;
  visibility: show;
  margin-bottom: 5px;
}

//----

.profile-pic-wrapper {
  position: relative;
  width: 100%;
}

.image {
    display: block;
    margin: 1.6rem auto;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: transparent;
}

.profile-pic-wrapper:hover .overlay {
  opacity: 0.5;
}

.icon {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#change-photo-icon:hover {
  opacity: 1;
}

.mdl-chip.square-chip{
  background-color: $light-grey-xdark;
  border-radius: 5px;
  text-align: center;
  width: 80px;
  height: 25px;
  line-height: 22px;
  padding: 0px;
  margin: 0px;

  .mdl-chip__text {
    line-height: 1.2rem;
  }
}


//UPDATE PROFILE PAGE:

div#profile-radios{

  label.mdl-radio{
    span.mdl-radio__label{
      font-size: 16px;
      font-weight: 200;
      small{
        font-size: 12px;
        display: block;
        font-weight: 200;
      }
    }
  }
}

div#profile-delegate-status{
  div.switch-wrap{
    //margin-top: 0.5rem;
    font-size: 16px;
    font-weight: 200;
    line-height: 1rem;
    label{
      span{
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
  small{
    font-size: 12px;
    font-weight: 200;
    line-height: 0.5rem;
  }
  div#progress-header{
    font-weight: 200;
    font-size: 16px;
    margin-top: 10px;
  }
}
