@import 'variables.scss';

.profile-picture {
  display: block;
  margin: $space auto;
  width: $space * 5;
  height: $space * 5;
  border-radius: 100%;
}

.valid-username {
  position: absolute;
  top: $space;
  right: 0;
}

.switches-wrap {
  display: flex;
  justify-content: space-around;
  padding: ($space * 2) 0;

  label {
    width: auto;
  }
}

.user-tags-wrap {
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.right-drawer.active {
  width: 80%;
  max-width: 40rem;
}

.right-drawer-header {
  padding: ($space / 2) $space;
  text-align: center;

  .profile-picture {
    width: $space * 4;
    height: $space * 4;
  }

  h6 {
    color: $light-grey-dark;
    margin-bottom: $space / 2;
  }
}

.right-drawer-content {
  padding: $space;
}

#public-form-details {
  .mdl-checkbox {
    display: inline;
  }
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

#password-match-error{
  margin: 0;
  visibility: show;
  margin-bottom: 5px;
}

//----

.profile-pic-wrapper {
  position: relative;
  width: 100%;
}

.image {
    display: block;
    margin: 1.6rem auto;
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: transparent;
}

.profile-pic-wrapper:hover .overlay {
  opacity: 0.5;
}

.icon {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#change-photo-icon:hover {
  opacity: 1;
}