@import 'variables.scss';

//NEW SHIT
.profile-menu-bar{
  display: flex;
  flex-direction: row;
}

.badge-ribbon {
      position: relative;
      background: red;
      height: 100px;
      width: 100px;
      border-radius: 50px;
}
.badge-ribbon:before,
.badge-ribbon:after {
      content: '';
      position: absolute;
      border-bottom: 70px solid red;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      top: 70px;
      left: -10px;
      transform: rotate(-140deg);
}
.badge-ribbon:after {
      left: auto;
      right: -10px;
      transform: rotate(140deg);
}

.hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid red;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}
.profile-table{

  .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
      width: 90%;
  }
}
.interest-content{
  display: flex;
  flex-direction: row;
  .interest-content-left{
    display: flex;
    padding-top: 65px;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    .content-row{
      display: flex;
      flex-direction: row;
      max-height: 20px;
      margin-bottom: 10px;
      .sunburst-range-label{
        font-weight: 600;
        color: #6d7272;
        font-size: 14px;
        width: 225px;
      }
      .sunburst-range{
        width: 150px;
        margin-top: 7px;
      }
      .sunburst-range-value{
        font-weight: 600;
        color: #6d7272;
        padding-left: 18px;
        font-size: 14px;
        width: 50px;
      }
    }
  }
}
.content-tab-panel{

  h4{
    font-size: 1.1rem;
  }
  h5{
    font-size: 1rem;
  }
  p{
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  ul{
    list-style-type: disc;
    margin-left:20px;
    li{
      font-size: 0.8rem;
    }
  }
}
.privacy-policy{
  .privacy-policy-section{
    margin-bottom: 20px;
  }
}
//OLD SHIT
.profile-tab{
  padding-top: 20px;
  padding-bottom: 100px;
}
#profile-main{
  min-height: 800px;
  margin-top: 20px;
}

.valid-username {
  position: absolute;
  top: $space;
  right: 0;
}

.switches-wrap {
  display: flex;
  justify-content: space-around;
  padding: ($space * 2) 0;

  label {
    width: auto;
  }
}

.user-tags-wrap {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.right-drawer.active {
  position: fixed;
  width: 80%;
  max-width: 40rem;
  z-index: 11;
}

.right-drawer-header {
  background-color: $orange;
  padding: ($space / 2) $space;
  text-align: center;

  .profile-picture {
    width: $space * 4;
    height: $space * 4;
  }
  h4 {
    color: $white !important;
  }
  h6 {
    color: $white;//$light-grey-dark;
    margin-bottom: $space / 2;
  }
}

.right-drawer-content {
  padding: $space;
}

#public-form-details {
  .mdl-checkbox {
    display: inline;
  }
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

#password-match-error{
  margin: 0;
  visibility: show;
  margin-bottom: 5px;
}


//UPDATE PROFILE PAGE:

div#profile-radios{

  label.mdl-radio{
    span.mdl-radio__label{
      font-size: 16px;
      font-weight: 200;
      small{
        font-size: 12px;
        display: block;
        font-weight: 200;
      }
    }
  }
}

div#profile-delegate-status{
  div.switch-wrap{
    //margin-top: 0.5rem;
    font-size: 16px;
    font-weight: 200;
    line-height: 1rem;
    label{
      span{
        font-size: 16px;
        font-weight: 200;
      }
    }
  }
  small{
    font-size: 12px;
    font-weight: 200;
    line-height: 0.5rem;
  }
  div#progress-header{
    font-weight: 200;
    font-size: 16px;
    margin-top: 10px;
  }
}

.new-input{
  /* omg so much cleaner */
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
}
