@import 'variables.scss';
@import 'breakpoint.scss';

.profile-card-flat{
  display: flex;
  .profile-image-link{
    .profile-image.mdl-list__item-avatar{
      height: 30px;
      width: 30px;
      margin-right: 5px;
    }
  }
  .profile-card-flat-details{
    display: flex;
    flex-direction: column;
    height: 40px;
    span{
      line-height: $small-font-size;
    }
    span.fullname{
      font-size: $xsmall-font-size;
      font-weight: 500;
    },
    span.username{
      font-size: $xsmall-font-size;
      font-weight: 300;
      color: $light-grey;
    }
  }
}
.profile-card-block{
  height: 40px;
  background-color: $orange;
  width: 100%;
  height: 70px;
  overflow: hidden;
  a.view-user{
    display: flex;
    text-decoration: none;
    div.profile-card-block-image{
      min-width: 70px;
      width: 70px;
      height: 70px;
      background-image: url('/img/default-user-image.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    div.profile-card-block-details{
      background-color: $orange;
      span{
        line-height: $small-font-size;
        color: $white;
      }
      span.fullname{
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-weight: 500;

      },
      span.followers-count{
        font-size: $xsmall-font-size;
        font-weight: 300;
      }
    }
  }
}
.profile-card-hex{
  height: 95px;
  width: 100%;

  .view-user{
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  .hex-svg{
    width: 75px;
    #hex{
        stroke-width:5;
        stroke: $white;
    }
  }
  .profile-card-hex-details{
    line-height: 0rem;
    margin-top:15px;
    height: 65px;
    span{
      color: $white !important;
      line-height: 1rem;

      &.fullname{
        font-size: 0.9rem;
      }
      &.followers-count{
        font-size: 0.6rem;
      }
    }

  }
}
.profile-card{
  min-height: 0;
  .profile-card-header{
    background-color: $light-grey-mid;
    background-size: 100% auto;
    min-height: 80px;
  }
  .mdl-card__supporting-text{
    padding: 0px;
    padding-left: 10px;
    margin-top: -25px;
    min-height: 120px;
    h6{
      font-size:$xsmall-font-size;
      font-weight: 500;
      color: $grey-xdark;
      margin-bottom: 0;
      margin-top: $space/4;
    }
    span.username{
      font-size: $xsmall-font-size;
      color: $light-grey;
    }
    .profile-image-link{
      margin-top: -20px;

      img{
        border: solid 2px $white;
      }
    }
  }
  .mdl-card__actions{

  }
}
.profile-card.has-cover{
  .profile-card-header{

  }
  .mdl-card__supporting-text{

  }
  .mdl-card__actions{

  }
}
