@import 'variables.scss';

.proposal-view-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

.mdl-chip-hoverable:hover{
  background-color: $light-blue-dark;
}

#collab-text{
  min-height: 0;
  color: $blue-xdark;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: $xsmall-font-size;
  margin-top:$space;
  margin-right: 50px;
}

.collab-author{
  margin-right: 8px;

  .mdl-chip__contact{
    margin-right: 2px;
  }
}

.proposal-title {
  margin-top: $space;
  margin-bottom: 0;
}

.delegate-vote-list-item {
  padding: 5px;

  .mdl-list__item-primary-content,
  .mdl-list__item-secondary-action {
    font-size: $small-font-size;
  }

  .mdl-list__item-avatar {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.proposal-list-item-link {
  text-decoration: none;
}

.proposal-vote-progress-bar,
.proposal-vote-yes-bar {
  height: $space / 4;
  margin-bottom: $space / 2;
}

.proposal-percentage-text-left {
  font-size: $xsmall-font-size;
}

.proposal-percentage-text-right {
  float: right;
  font-size: $xsmall-font-size;
}

.proposal-item {
  cursor: pointer;

  .mdl-card__actions {
    background-color: $white;
  }
}

.edit-proposal-wrap {
  padding-top: 0;
}

.proposal-body-wrap {
  p {
    font-family: $body-font;
  }

  img {
    width: 100%;
  }
}

.delete-proposal-icon,
.edit-proposal-icon {
  vertical-align: middle;
  font-size: $base-font-size;
  line-height: $base-line-height;
  cursor: pointer;
  color: $light-grey-xdark;
}

.proposal-heading {
  margin-bottom: 0;
}

.proposal-container {
  .mdl-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .mdl-card__supporting-text {
    width: 100%;
    padding: 16px;
    min-height: 64px;
    display: flex;
    align-items: center;

    div.signature-button {
      button.mdl-button--colored {
        color: $red;
      }

      #sign-proposal {
        .proposal-item {
          .mdl-list__item-secondary-action {
            margin-right: $space;
          }
        }
      }
    }
  }

  .mdl-card__supporting-text strong {
    font-weight: 400;
  }

  .mdl-card__media ~ .mdl-card__supporting-text {
    min-height: 64px;
  }

  .mdl-card__supporting-text:not(:last-child) {
    box-sizing: border-box;
    min-height: 76px;
  }

  &:not(.demo-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
    border-top: 1px solid rgba(0,0,0,0.1);
  }

  .meta {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }

  .meta > * {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  .section-spacer {
    flex-grow: 1;
  }

  .proposal-details {
    min-height: 0px;
    margin: 0px;

    .status-chip{
      margin-left: 18px;
    }
    #collab-chips{
      padding: 0px;
    }
  }

  .signature-count {
    font-size: $xsmall-font-size;
    color: $dark-grey-xlight;
  }

  .signature-button {
    margin-left:5px;
    margin-right: 2px;
  }

  .mdl-card .vote-details{
    min-height: 0px;
    margin: 0px;
  }
}

.proposal-author {
  strong {
    font-size: $small-font-size;
  }

  span {
    font-size: $xsmall-font-size;
    color: $dark-grey-xlight;
    line-height: 0.95rem;
  }
}

.vote-details {
  min-height: 0px;

  .meta{
    padding: 0px;
  }
}

.voting-content {
  margin: 8px;
}

.proposal-points-wrap {
  margin: ($space * 2) 0;
}

.pointsList {
  margin: 0;
  padding: $space;

  li{
    font-size: $small-font-size;
  }
}

.points-button {
  position: relative;
  float: right;

  &.add-point-against,
  &.add-point-for {
    bottom: 60px;
  }
}

#title-error {
  font-size: $small-font-size;
}

#comment-message {
  color: $black;
}

.proposal-wrap {
  .comments {
    display: flex;
    flex-direction: column;

    .comment {
      display: flex;
      flex-direction: column;
    }

    .comment > .comment__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 16px;
    }

    .comment > .comment__header > .comment__avatar {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      margin-right: 16px;
    }

    .comment > .comment__header > .comment__author {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      span {
        font-size: $xsmall-font-size;
        color: $dark-grey-xlight;
      }
    }
    .comment > .comment__header {
      .mdl-button--icon {
        .material-icons{
          font-size: 14pt;
          color: #b2b1b1;
        }
      }
    }
    .comment > .comment__text {
      line-height: 1.5em;
      font-size: $small-font-size;

      .comment_message_edit{
        display: flex;
        align-content: space-around;
        .input-wrap{
          width: 100%;
        }
        .mdl-button--icon {
          .material-icons{
            font-size: 14pt;
            color: #b2b1b1;
          }
        }
      }
    }

  }
}

.demo-blog--blogpost .comments .comment > .comment__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
  margin-top: 16px;
}

//Proposal List

.proposal-item {
  .card-secondary-wrap {
    margin-top: 0;
  }
}

#body-editor-sv{
  min-height: 200px;
}
