@import 'variables.scss';

.delegate-vote-list-item {
  padding: 5px;

  .mdl-list__item-primary-content, .mdl-list__item-secondary-action {
    font-size: $small-font-size;
  }

  .mdl-list__item-avatar {
    width: 1.5rem;
    height: 1.5rem;
  }

  .material-icons {
    color: $light-blue;
  }
}

.delegate-color {
  background-color: $light-blue;
}

.proposal-list-item-link {
  text-decoration: none;
}

.proposal-vote-progress-bar {
    background-color: $light-blue;
    height:24px;
  }

.proposal-vote-yes-bar {
  background-color: $bright-blue;
  height:24px;
}

.proposal-percentage-text-left {
  font-size: $xsmall-font-size;
}

.proposal-percentage-text-right {
  float: right;
  font-size: $xsmall-font-size;
}

.proposal-item {
  cursor: pointer;

  .mdl-card__actions {
    background-color: white;
  }

}

#sign-proposal {
  border: 2px solid;
  .proposal-item {
    .mdl-list__item-secondary-action {
      margin-right: $space;
    }
  }
}

#proposal-body-wrap {
  img {
    width: 300px;
  }
}

.proposal-status-chip {
  margin-left: $space;
}

.delete-proposal-icon{
  vertical-align: middle;
  font-size: $base-font-size;
  line-height: $base-line-height;
  cursor: pointer;
  color: $light-grey-xdark;
}