@import 'variables.scss';
@import 'breakpoint.scss';

.signup-progress-wrapper{
  display:none;
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
  max-height: 72px;
  //border: solid 1px grey;
}
.signup-map{
  #leaflet-map {
    width: 100px;
  }
}


.section-wrapper{
  margin-top: 40px;
  //border: solid 1px grey;
  display: none;
  &.active{
    display: block;
  }
}
.section-step{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: none;
  .step-container{
    //border: solid 1px green;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .step-back-container{
    //background-color: #ccc;
    max-width: 50px;
    display: flex;
  }
  .step-content-container{
    //margin-left: 50px;
    //border: solid 1px blue;
    width: 80%;
    margin: 0 auto;
  }
  .section-step-header{
    .step-heading{
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #54575a;
      letter-spacing: -1px;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 10px;
    }
    .step-info{
      color: #6d7272;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  .step-content{
    display: flex;
    flex-direction: row;
    .step-content-left{
      display: flex;
    }
    .step-content-right{
      margin-left: 20px;
      padding-left:25px;
    }
  }
  .step-buttons{
    width: 123px;
    //border: solid 1px red;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    //flex-direction: row;
    .mdl-button{
      text-transform: none;
    }
    .mdl-button--colored{
      background-color: $landing-green;
      color: $white;
    }
  }

  &.active{
    //border: solid 1px black;
    display: block;
  }
}


.section-intro{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  //border: solid 1px blue;
  .section-intro-header{
    h3{
      font-family: futura-pt, sans-serif;
      font-weight: 700;
      font-style: normal;
      color: #54575a;
      letter-spacing: -1px;
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
  .section-intro-content{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    .section-intro-content-left{
      //border: solid 1px;
      ol{
        counter-reset: my-awesome-counter;
        list-style: none;
        padding-left: 40px;
        li{
          margin: 0 0 0.5rem 0;
          counter-increment: my-awesome-counter;
          position: relative;
          flex-direction: column;
          div.step-header{
            font-weight: bold;
            color: #6d7272;
            font-size: 16px;
            height: 23px;
          }
          div.step-info{
            color: #6d7272;
            font-size: 16px;
          }
          &:before{
            content: counter(my-awesome-counter);
            color: $landing-green;
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            left: -50px;
            --size: 25px;
            left: calc(-1 * var(--size) - 10px);
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            top: 5px;
            background: transparent;
            text-align: center;
          }

        }
        li.step-complete{
          &:before{
            background: $landing-green;
            color: $white;
            border-radius: 55%;
          }
        }
      }
    }
    .section-intro-content-right{
      //border: solid 1px;
      margin-left: 60px;
    }
  }
}

.final-step-content{
  .section-intro-content-left{
    width: 48%;
  }
  .section-intro-content-right{
    width: 48%;
    img{
      width: 100%;
    }
  }
}

//forms and  validation
.signup-validate-error{
  //border: solid 1px black;
}
.signup-taggle{
  width: 100%;
  .tag-chip{
    padding: 8px;
    border: 0px;
    background-color: $landing-green;
    color: $white;
    font-size: 0.8rem;
    line-height: 0.8rem;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
    .mdl-chip__action{
      padding: 0px;
      line-height: 1rem;
      width: 15px;
      height: 15px;
      color: $white;
      .material-icons{
        font-size: 15px;
      }
    }
    &:hover{
      border: 0px;
      background-color: $white;
      color: darken($landing-green,10%);
      .mdl-chip__action{
        color: darken($landing-green,10%);
      }
    }
  }
}

.signup-taggle{
  .dropdown{
    top: 155px;
    padding: 0 15px;
    width: 100%;
  }
}
.test{
  width: 100px;
  height: 100px;
}
#sunburst{
  //border: solid 1px red;
  width: 400px;
  height: 400px;
  #sunburst-svg{
    //border: solid 1px blue;
    width: 350px;
    height: 350px;
  }
}
.presence-preview{
  position: relative;
    height: 477px;
    background-image: url(img/landing/crowdpol_new_presence.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 50%;
    right: 0px;
}
.scene{
  border: solid 1px red;
  margin-top: 65px;
}




.sunburst-step{
    .step-content-left{
      padding-top: 65px;
      min-width: 450px;
      //border: solid 1px red;
      display: flex;
      flex-direction: column;
      .content-row{
        display: flex;
        flex-direction: row;
        max-height: 20px;
        margin-bottom: 10px;
        input.sunburst-range{
          width: 150px;
          margin-top: 7px;
        }
        .sunburst-range-label{
          font-weight: 600;
          color: #6d7272;
          font-size: 14px;
          width: 225px;
          //border: solid 1px red;
        }
        .sunburst-range-value{
          font-weight: 600;
          color: #6d7272;
          padding-left: 18px;
          font-size: 14px;
          width: 50px;
          //border: solid 1px red;
        }
      }
    }
    .step-content-right{
      margin-left: 0px;
      padding-left: 0px;
    }
}

///clean this shit up below...
div.reg-wizard-container{




  img.iso-sun{
    width: 290px;
    position: relative;
    top: -45px;
  }
  img.iso-heart{
    width: 290px;
    position: relative;
    top: -45px;
  }
  img.iso-world{
    width: 290px;
    position: relative;
    top: -45px;
  }
  input:not([type=range]):not([type=submit]):not([type=file]):not(.mdl-slider) {
     /* omg so much cleaner */
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

}
div#reg-wizard-map{
  .leaflet-map-wrapper{
    //border: solid 1px green;
    #leaflet-map{
      //border: solid 1px orange;
      background: #f9f8f7;//lighten(#92e2e8,20%);
    }
  }
}
#signup-map{
  display: flex;
  flex-direction: column;
  .signup-map-container{
    display: flex;
    flex-direction: row;
  }
  .signup-breadcrumbs{
    width: 100%;
  }
}

/*------- RANGE INPUT -------*/


input[type=range] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;
    background-image: -webkit-gradient(linear,
        left top,
        right top,
        color-stop(0%, #50c22e),
        color-stop(0%, #ccc));

    background-image: -moz-linear-gradient(left center,
        #50c22e 0%,
        #ccc 100%);
}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #50c22e;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none !important;
    background-color: #50c22e;
    border: none;
    height: 13px;
    width: 13px;
    border-radius: 50%;
}
