@import 'variables.scss';
@import 'breakpoint.scss';

.vote-actions {
  padding-bottom: $space / 2;
  .mdl-button--colored-yes{
    background-color: $yes-button;
    color: white;
  }

  .mdl-button--colored-no{
    background-color: $no-button;
    color: white;
  }

  .mdl-button--colored-abstain{
    background-color: $abstain-button;
    color: white;
  }

  .mdl-button--colored-delegate{
    background-color: $light-grey-xdark;
    color: white;
  }

  .mdl-button--colored-delegate-yes{
    background-color: lighten( $yes-button, 10% );
    color: $black;
  }

  .mdl-button--colored-delegate-no{
    background-color: lighten( $no-button, 10% );
    color: $black;
  }

  .mdl-button--colored-delegate-abstain{
    background-color:  lighten($abstain-button, 10% );
    color: $black;
  }
}

#demo-menu-lower-left{
  font-size: $base-font-size * 1.55;
  line-height: $base-line-height * 1.5;
  color: $dark-grey-xdark;
}
