@import 'variables.scss';
@import 'breakpoint.scss';

.vote-actions {
  padding-bottom: $space / 2;
  .mdl-button--colored-yes{
    background-color: $yes-button;
    color: white;
  }

  .mdl-button--colored-no{
    background-color: $no-button;
    color: white;
  }

  .mdl-button--colored-abstain{
    background-color: $abstain-button;
    color: white;
  }
}

#demo-menu-lower-left{
  font-size: $base-font-size * 1.55;
  line-height: $base-line-height * 1.5;
  color: $dark-grey-xdark;
}
