<template name="ProfileHeader">
  <div class="profile-card">
    <div class="profile-header">
      <img src="https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Header Pic" >
    </div>
    <div class="profile-details">
      <div class="profile-image">
        <img src="{{profilePic}}" alt="Profile Pic" class="image" >
      </div>
      <div class="profile-name">
        <span class="profile-names">{{profileName}}</span>
        <span class="profile-username">{{profileUsername}}</span>
      </div>
    </div>
  </div>
</template>
