<template name="ProfileHeader">
  <!-- CHECK IF USER HAS COVER, IF SO, SETUP REQUIRED COVER AND IMAGE STATE-->
  {{#if setHeader userId editable}}
  <div class="profile-cover">
    <div class="profile-header">
      <!--<img src="https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Header Pic" >-->
      {{>Cover editable=editable}}
    </div>

    <div id="profile-details-header" class="profile-details app-container {{hasCover}}">
      {{>ProfileImage editable=editable userId=userId}}
    </div>

  </div>
  {{/if}}
</template>
